/*IMPORTANT: NON RESPONSIVE SWITCH 4*/ 
.checkoutContainer{max-width:1150px;} 

/************CART**************/

/*PRODUCTS*/
.checkoutproductContainer{}
.detailShipping, .detailshippingTitle{text-align: center;}
.detailProduct img{border: solid 1px #ccc; max-height: 90px; margin-left: -5px}
.detailproductImg{text-align: center;}
.order_link.hover_underline.tlignore{ display: none;}
.checkout-qty-select {float:left;min-width: 45px;margin:10px 0px 10px 25px;border: 1px solid #ccc;width: 50%;border-radius: 3px;overflow: hidden;background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;}
.checkout-qty-select select {padding: 5px 8px;width: 160%;border: none;box-shadow: none;background: transparent;background-image: none;-webkit-appearance: none;}
.checkoutproductDetail{color:black; padding: 29px 0px 22px 0px;border-bottom: solid 1px #C2C2C2;}
.checkoutproductDetail.hasPromo{border-bottom: none;}
.checkoutproductDetail.lastProduct {margin-bottom: 36px !important;}
.detailPrices{text-align: right; text-align: center;}
.detailPricesTop .checkouttotalsItem{float: none !important; display: inline-block;text-align: right;font-size: 12px !important;}
.detailPricesTop .internetPrice:before {display: none; }
.checkoutTotals .normalPrice {float: right; text-align: right; padding-right: 5px;width: 85px;}
.checkoutTotals .abcdinPrice:before {content: ""; width: 1px; background-color: #666; height: 47px; float: left; }
#ShopCartDisplay .abcdinPrice.nm:before {content: ""; width: 1px; background-color: rgb(131, 131, 131); float: left; height: 47px; }
#ShopCartDisplay .internetPrice.midPriceCart{width: 102px !important; padding-right: 6px;}
#ShopCartDisplay .internetPrice.midPriceCart:before {content: ""; width: 1px; background-color: rgb(131, 131, 131); float: left !important; height: 47px; display: block; }

graysku{font-size:11px;color:#515151;}
gray{color:#515151;}
red{color: #D51E20;font-weight: bold;}
bold{font-weight: 700 !important}
boldblack{font-weight: 700;color:black;}
.floatRight{float: right !important;}
.marginRight{margin-right: 52px !important;}
.marginTop{margin-top:55px !important;}
.abcdinPrice{color:#ca1500;}
.inputField {padding: 8px; border-radius: 5px;	border: 1px solid #bfbfbf; font-size: 12px; width: 82%; }
#AddressForm .inputField {width: 90%; }

.detailPricesTop .normalPrice, .detailPricesTop  .internetPrice, .detailPricesTop  .abcdinPrice {width: 114px !important;}

.deleteItem{display: block;margin:25px auto 0 auto; background-image: url(../../images/checkout/deleteItem.png); background-size: 100%; width:8px; height: 8px}

/*BADGES & PROMOS*/
.checkoutproductBadge{float: left; width: 120px; height: 35px; background-repeat: no-repeat; background-size: 100%; margin-top: 3px; border-top:0 !important; text-indent: -999999px; }
.checkoutproductBadge.pc{background-image: url(../../images/checkout/badges/producto-combinado.png); }
.checkoutproductBadge.ps{background-image: url(../../images/checkout/badges/producto-sugerido.png); }
.checkoutproductMsj.ps {color:#428ccc;}
.checkoutproductBadge.pg{background-image: url(../../images/checkout/badges/gratis.png);margin-bottom:30px; }
.zb-pr-content-product .checkoutproductBadge.pg{margin-bottom:0px; }
.checkoutproductMsj.pg {color:#258654;font-weight: 400;}
.checkoutproductBadge.pd{background-image: url(../../images/checkout/badges/descuento.png); }
.checkoutproductMsj.pd {color:#4651ec;}
.checkoutproductBadge.pr{background-image: url(../../images/checkout/badges/producto-enconjunto.png); }
.checkoutproductMsj.pr {color:#ca1500;}
.checkoutproductBadge.pe{background-image: url(../../images/checkout/badges/producto-enconjunto.png); }
.checkoutproductMsj.pe {color:#d5aa26;}
.productPromo{border: solid 1px #ccc;padding: 6px;width: 88%;clear: both;float: left; margin-top: 5px; margin-left: 120px;}
.productPromo.promoCart{width: 79.9%; margin-left: 215px;}
.checkoutPromotions {width: 100%;padding-top: 5px ;min-height: 30px;margin-bottom: -10px;}
.checkoutPromotions .checkoutproductBadge {float: none; margin-left: auto; margin-right: auto;}
.checkoutproductMsj {font-size: 12px; padding-top: 5px; padding-bottom: 5px; font-family: Tahoma, Verdana, Segoe, sans-serif; margin-left: auto; margin-right: auto; font-weight: 400;line-height: 17px;width: 74%;margin-bottom: 6px;overflow: hidden; max-height: 47px}



@media (max-width: 600px){
.checkoutproductBadge{display: none;}
.checkoutPromotions .checkoutproductBadge {display: block; }
.promotion_used{width:180px;}
.descriptionCupon{margin-top: 15px;margin-left: 0px !important;}

}

.productpromoFull{background: #f1f1f1;padding: 10px;float: left;width: 97.8%;border: dashed 1px #ccc;margin-top: 21px;}
.productPromo.pRed{color:#e82f2d;}
.productPromo.pGreen{color:#43a43d;}
.productPromo.pPurple{color:#5863f0;}
.quickTotals{border-bottom: solid 1px #ccc; margin: 16px 0 13px 0;padding-bottom: 10px;text-align: right;line-height: 19px;}
.discountTotal{text-align: right;padding-bottom: 15px;}
.quickTotals.noLine{border-bottom:none;}

/************SHIPPING**************/

.checkoutContainer{margin: 25px auto;font-size: 12px;padding: 15px;letter-spacing: -0.2px;}
.checkoutproductDetail  .detailPricesTop{text-align: center !important; }

/*CHECKOUT BREADCRUMBS*/
.checkoutBreadcrumbs{background:#dedede; max-height: 34px; margin-top: 50px; margin-bottom: 33px; font-weight: 700; font-size: 13px}
.checkoutbreadcrumbsItem{background:#dedede;padding: 6px 0px; min-height: 10px; text-align: center;}
.checkoutbreadcrumbsItem.hasArrow{background-image: url(../../images/checkout/breadcrumbsArrow.png); background-repeat: no-repeat; background-position: center right;}
.selectedStep .checkoutbreadcrumbsName{color:#e10018;}
.checkoutbreadcrumbsName{ display: inline-block;padding-left:20px; font-weight: 400;}
.checkoutbreadcrumbsIcon{ display: inline-block;height: 50px;width:50px;
	position: relative;top: -30px;margin-bottom: -54px;}
.checkoutbreadcrumbsIcon img{vertical-align: middle;margin-bottom: -25px;  }




/*CHECKOUT TABS*/
.checkoutTabs{border-bottom: solid 3px #b8b8b8}
.checkouttabsLink{display: block;border-top: solid 1px #b8b8b8;border-left: solid 1px #b8b8b8;border-right: solid 1px #b8b8b8; float: left;padding: 5px 20px 5px 40px}
.checkouttabsLink.first{background-image: url(../../images/checkout/checkouttabsLink1.png); background-repeat: no-repeat; background-position: 15px center;}
.checkouttabsLink.first.selected{background-color:#f1f1f1;background-image: url(../../images/checkout/checkouttabsLink1-selected.png); color:#ec1500;}
.checkouttabsLink.last{background-image: url(../../images/checkout/checkouttabsLink2.png); background-repeat: no-repeat; background-position: 15px center; border-left: 0;}
.checkouttabsLink.last.selected{background-color:#f1f1f1;background-image: url(../../images/checkout/checkouttabsLink2-selected.png); color:#ec1500;}
.checkouttabsLink:hover{text-decoration: underline;}

/*CHECKOUT COLS*/
.checkoutCols{margin-top: 20px;margin-bottom: 31px;}
.checkoutTitle{font-weight:700;font-size: 12px; float: left; margin-bottom: 10px}
.checkoutTitle span{font-size: 24px}
.checkoutContainer select:focus {outline: none;}

/*CALENDAR*/
div#widget_requestedShippingDate {margin-top: 8px; }
span.dijitCalendarDateLabel:hover {color: #ca1500 !important; text-decoration: underline !important;}
.dijitCalendarPopup * {font-size: 13px !important; }
span.dijitCalendarDayLabel {font-size: 11px !important; }
tr.dijitCalendarMonthContainer{background: #ca1500 !important}
span.dijitCalendarDateLabel {font-weight: 400 !important; }
.dijitCalendarMonthLabel { color: #FFFFFF !important;}
.dijitCalendarCurrentDate {color: #ca1500 !important; font-weight: bold !important; text-decoration: none!important; }
.dijitCalendarSelectedDate .dijitCalendarDateLabel {background-color: #ca1500 !important; color: white!important; }
th.dijitReset {color: white!important; }
.dijitCalendarSelectedYear {background-color: #DBDBDB !important; color: black !important; }
.dijitCalendarPopup tr {background-color: rgb(203, 203, 203); }

.shippingButton { clear: both;font-size: 11px; margin-left: 25px; float: left;border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #ccc; background-repeat: no-repeat; background-position: center left; padding: 5px 15px !important; display: block; margin-top: 10px;
background: rgba(240,240,240,1);
background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(207,207,207,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(207,207,207,1)));
background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(207,207,207,1) 100%);
background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(207,207,207,1) 100%);
background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(207,207,207,1) 100%);
background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(207,207,207,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#cfcfcf', GradientType=0 );
}
.shippingButton:hover{background: rgba(207,207,207,1);
background: -moz-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(179,179,179,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207,207,207,1)), color-stop(100%, rgba(179,179,179,1)));
background: -webkit-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(179,179,179,1) 100%);
background: -o-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(179,179,179,1) 100%);
background: -ms-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(179,179,179,1) 100%);
background: linear-gradient(to bottom, rgba(207,207,207,1) 0%, rgba(179,179,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#b3b3b3', GradientType=0 );}


.myAddress{float:left;margin-left: 25px;  padding-left: 5px;
  margin-top: 11px;}
.radioSelect{margin-top:10px;}
.radioSelect span{padding-left: 10px}
.radioSelect .datepickerImg{margin-left:25px;}
.radio{margin-left: 25px; padding: 2px 0px}
.radio red{color: #e10018; font-size: 11px; padding-left: 21px;}
.shippingArrow{float: right;margin-right: 25%;}

/*DIVIDER*/
.checkoutDivider{border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; padding: 8px 0; margin-bottom:9px;text-align: center;}



/*SHIPPING TOTAL*/
.shippingTotal {color:#4d4d4d;text-align: right; font-size: 12px; font-weight: 700; padding: 15px 30px 15px 10px;}
.termsofAgreement .radio{margin-left: auto !important; margin-right: auto !important; float: none !important;}

/*CHECKOUT TOTALS*/
.checkoutTotals{
	color:black;
	background-color:#f3f3f3;
	margin-bottom:20px;
	border: solid 1px #ccc;
	float: left; 
	width: 100%;
}
.checkouttotalsItem{width:115px;float: right; text-align: right;}
.checkouttotalsItem span{font-size: 11px}
.checkoutTotals .internetPrice {  width: inherit;   float: inherit;  width: 90px !important;  padding-right: 5px;} 
.documentType {margin: -5px 0 0 0;}
.checkoutDivider .radio {float: left;margin-top: 5px;}
.checkoutDivider .radio span {margin-left: 5px;}
.fullDetail {float: right !important; margin: 15px 51px 15px 15px !important;/* background-color: red; */width: 70%;}
.midPrice{padding:0 8px 0 5px; border-right: solid 1px #848484; border-left: solid 1px #848484; margin-left: 5px; margin-right: 8px;}
.totalPrice{font-size: 16px; font-weight: 700; padding: 10px 0 0 0; width: 200px;line-height: 15px;}

/*PAYMENT METHOD*/
.paymentMethod{padding-bottom:25px;min-height:124px}
.checkoutCol.payment{border-left: solid 1px #ccc; border-right: solid 1px #ccc; margin-right:15px;}
.paymentmethodImg{max-height: 38px;float: right;margin-right: -17px;margin-top: -4px;}
.paymentmethodImg.bigPayment{margin-left: auto !important;float: none !important;margin-right: auto !important;max-height: 74px !important;display: block;margin-bottom: 7px;}
#contentRecommendationWidget_Transbank_WebPay_Content img {max-height: 78px; }
.paymentMethodInfo{float: left; min-width: 30px; padding: 0 9px; float: right;}
.paymentMethodInfo.tm{margin-top:15px;}
.paymentMethodInfo .checkout-qty-select {margin-left: 0 !important;}
input#piAmount_1_display {display: none;}
.checkout-qty-select.mediumSelect{width: 70px;}
.caeCol{line-height: 25px;}
.checkoutCol.pm1 .textInput{width: 70%; margin-left: 40px}


/*SWATCHES*/
.onedateCol, .manydateCol{display: block; visibility: visible;}
.noShow{display: none !important;visibility: hidden;}
.show{display: block !important;visibility: visible !important;}

/*ASSETS*/
.checkout-select {float:left;margin: 10px 0px -3px 25px !important;border: 1px solid #ccc;width: 50%;border-radius: 3px;overflow: hidden;background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;font-size: 12px;min-width: 148px;}
.checkout-select select {padding: 5px 8px;width: 130%;border: none;box-shadow: none;background: transparent;background-image: none;-webkit-appearance: none;}
.checkout-select.paymentselectWrapper{width: 58%;min-width: 220px;}
.checkout-select.documentSelect{width: 112px !important;margin-top: 1px;margin-bottom: 0;}
.textInput{border: solid 1px #adadad; width: 90%;font-family:'Open Sans', sans-serif; font-size: 12px;  padding: 5px; text-align: right;}


/*DISCOUNT CODE*/
.discountCode{float: right;}
.discountCode .ingresa{float: right;padding-top: 6px;}
.discountCode .inputCode{float: right; width: 200px}
.discountCode .actionButton{float: right; padding: 5px 12px;font-size: 13px;min-width: inherit;min-width: 40px;}
.descriptionCupon{margin-left: 50px;}

/*PAYMENT BUTTON*/
.checkoutButtons{text-align: center;padding-top: 15px;padding-top: 17px;padding-bottom: 17px;}
.actionButton{ display: inline-block; max-width: 80px; float:left;}
.paymentButton, .actionButton{font-weight:400;-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-family:'Open Sans', sans-serif; font-size:14px;text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);text-decoration: none; color: white; padding: 8px 18px;}
.paymentButton{width:90px;display:block;background: rgba(202,20,0,1) !important; float: none; margin-left: auto; margin-right: auto;
background: -moz-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202,20,0,1)), color-stop(100%, rgba(176,15,0,1)))!important;
background: -webkit-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;
background: -o-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;
background: -ms-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;
background: linear-gradient(to bottom, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca1400', endColorstr='#b00f00', GradientType=0 )!important;}
.paymentButton:hover{background:#d10f0f !important}
.loginBox .paymentButton {float: none; margin-bottom: 4px; margin-left: auto; margin-right: auto; display: inline-block; margin-top: 0px; }
.checkoutButtons .forgot {width: 100% !important; margin: 0; }

.actionButton{background: rgba(179,179,179,1); min-width: 50px; margin: 0 10px;
background: -moz-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(128,128,128,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,179,179,1)), color-stop(100%, rgba(128,128,128,1)));
background: -webkit-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(128,128,128,1) 100%);background: -o-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(128,128,128,1) 100%);
background: -ms-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(128,128,128,1) 100%);background: linear-gradient(to bottom, rgba(179,179,179,1) 0%, rgba(128,128,128,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0 );}

.actionButton:hover{background: rgba(102,102,102,1);
background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(74,74,74,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(100%, rgba(74,74,74,1)));
background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(74,74,74,1) 100%);background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(74,74,74,1) 100%);
background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(74,74,74,1) 100%);background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(74,74,74,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#4a4a4a', GradientType=0 );}


/*ORDER*/
.orderColumn{ min-height: 123px;background-image: url(../../images/checkout/dot.jpg); background-repeat: repeat-y; background-position: right;margin-bottom: 10px !important; }
.orderTitle{margin-bottom: 4px; margin-top:4px;}
.orderGreetings{font-size: 17px;font-weight: 700;color: #ca1500;text-align: center;padding-top: 10px;padding-bottom: 34px;}
.ordertotalPrice{width: 100%; margin-bottom:10px;}


.loginFacebook {display: block; margin-bottom: 17px; width: 196px; float: none; margin-left: auto; margin-right: auto; }

.loginTitle {font-size: 18px; margin-bottom: 25px; font-weight: 700; }

input.inputLogin {margin-top: 9px; width: 190px; /* height: 26px; */ border-radius: 5px; border: solid 1px #ccc; text-align: center; color: #B3B3B3; line-height: 15px; padding: 5px 0; }

.forgot {margin-top: 5px; font-size: 11px; display: block; margin-bottom: 15px; }

a.forgot:hover {text-decoration:underline; }
.inputLogin:focus {background-color: #F5F5F5;   color: black; }

.loginBox {border: solid 1px #ccc; width: 400px !important; margin-left: auto !important; margin-right: auto !important; float: none !important; padding: 25px 0;}

.continueButton {margin-top: 20px; width: 118px; }

.areuNew {margin-top: 36px; display: block; /* border-top: solid 1px #ccc; */ }

.areuNew span {font-weight: 700 !important; text-decoration: underline; color: black; }
a.areuNew:hover {text-decoration: underline; }
a.forgot.underLine {text-decoration: underline; }
.areuNew:after {width: 100px; border-top: solid 1px #ccc; display: block; float: left; }

a.areuNew:before {content:""; }

a.areuNew:before {content: ""; border-top: solid 1px #ccc; float: none !important; height: 10px; width: 200px; margin-left: auto !important; margin-right: auto !important; display: block; }
.loginBox .paymentButton.continueButton {width: 70px !important; }

.col1.detailQty.nm {text-align: center; }

@media screen and (max-width: 1200px){
	.productPromo.promoCart{width: 100%; margin-left: 0px;}
	.productPromo.promoShipping{width: 100%; margin-left: 0px;}
}

@media screen and (max-width: 960px) {	
	.detailPricesTop .checkouttotalsItem{float: none; display: inline-block;text-align: right;}
	.checkouttotalsItem{float: right; text-align: right; width: 95px;}
	.checkouttotalsItem2{float: right; text-align: right; width:85px;}
	.checkoutbreadcrumbsName{width:100px; padding-left:0px;}
	.detailPricesTop .normalPrice, .detailPricesTop  .internetPrice, .detailPricesTop  .abcdinPrice {width: 75px !important;}
	.totalPrice {
		   font-size: 16px;
		  font-weight: 700;
		  padding: 10px 0 0 0;
		  line-height: 15px;
		  position: absolute;
		   width: 202px !important;
		   left: 37px;
		   text-align: left !important;
	}

}

@media screen and (max-width: 780px) {
	.paymentMethod{
		/* width: 400px; */
	}
}

@media screen and (max-width: 600px) {
	.checkout-qty-select{float:left;min-width: 45px;margin:0px 0px 0px 0px;border: 1px solid #ccc;width: 50%;border-radius: 3px;overflow: hidden;background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;}
	.detailPricesTop .checkouttotalsItem{float: none; text-align: center;}
	.checkouttotalsItem{float: inherit; text-align: right; width:90px;}	
	.midPrice{padding:0 0px 0 0px; border-right: solid 1px #848484; border-left: solid 1px #848484; margin-left: 0px; margin-right: 0px;}
	.midPriceCart{padding:0 0px 0 0px; border-right: solid 0px #848484; border-left: solid 0px #848484; border-top: solid 1px #848484; border-bottom: solid 1px #848484; margin-left: 0px; margin-right: 0px;}
	.fullDetail {float: right !important; margin: 15px 15px 15px 15px !important;}
	.checkoutTotals .internetPrice, .checkoutTotals .abcdinPrice{
		margin-top:35px;
	}
	.checkoutTotals .normalPrice{
		float:inherit;
		width:120px;
		margin-top:35px;
	}
	.totalPrice{
		float:left;
		font-size: 16px;
		font-weight: 700;
		padding: 0 10px 0 0; width: auto;line-height: 15px;}
	.checkouttotalsItem2{float: right; text-align: right; width:auto;}
	.checkout-qty-detail{float:left;min-width: 45px;margin:10px 0px 0px 0px;width: 50%;overflow: hidden;text-align: center;}
	.rwWidth{ width: 65px; }
	.detailPrices{text-align: left;	}
	.discountCode{float: none;}
	.marginRight{margin-right: 0px !important;}
	.shippingArrow{float: right;margin-right: 0%;}	 	
	.discountCode .ingresa{display: none;}
	.discountCode .inputCode{width: 87px;}
	.checkoutCol.payment{margin-top:30px;}
	.caeCol{line-height: 30px;}
	.checkoutTotals .abcdinPrice:before{
		width:0px;
	}
	.detailPrices .internetPrice:before, .detailPrices .abcdincardPrice:before{
		width:0px !important;
	}
}

@media (max-width: 480px){
.checkoutCol.pm1 .textInput{width: 70%; margin-left: 32px}
.paymentmethodImg {}
}
/* add by jose@zenbyte */
/* START data factura */
/*PAYMENT METHOD*/
.zb-factura, .zb-visa {height: 0px; overflow: hidden; margin-bottom: 0px -webkit-transition: height 1s; -moz-transition: height 1s; -ms-transition: height 1s; -o-transition: height 1s; transition: height 1s; text-align: center; }
.checkout-select-reset, .checkout-qty-select-reset { min-width: 0px; margin: 0px !important; width: 100%; float: none ; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.zb-factura {margin-top: 20px !important;}
.zb-forms input, .zb-factura input, .zb-visa input{text-align: left;width: 100%;background: #fafafa;padding: 7px 8px;float: none;border: 1px solid #ccc;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-radius: 3px;}
.zb-forms label, .zb-factura label, .zb-visa label{width: 100%;text-align: left;float: left;padding: 0px 0px 2px 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.zb-forms label span, .zb-factura label span, .zb-visa label span {color: #cc0000; margin-left: 10px;}
.zb-forms select, .zb-factura select, .zb-visa select {width: 130%;padding: 8px 8px 8.2px 8px;}
.zb-forms .zb-form-group, .zb-factura .zb-form-group {padding: 10px 10px 10px 10px;position: relative;}
.zb-visa .zb-form-group {padding: 5px;position: relative;}
.zb-form-group i { color: gray; }
.zb-factura-form-1 {display: inline-block;float: none !important;vertical-align: top;/* border: 1px solid #d4cfcf; */min-width: 300px;padding: 0px 12px 0px 12px;border-radius: 3px;margin: 0px 15px !important;max-width: 320px;}
.zb-form-title h4 {display: inline-block;font-size: 14px;font-weight: 600;margin-bottom: 10px;}
.zb-form-title p {margin-bottom: 10px;display: inline-block;font-size: 11px;}
.zb-form-title span {color: #cc0000;margin-left: 10px;}
.zb-form-title h5 {float: left;padding: 5px 10px;font-size: 13px;}
.zb-pull-right { float: right !important; }
.zb-pull-left { float: left !important; }
.zb-area {width: 15% !important;}
.zb-numero {width: 81.333333% !important;}


@media screen and (max-width: 998px) {
	.zb-form-reset-mobile { float: none !important; width: initial; }
}

@media screen and (max-width: 998px){
	.zb-form-reset-mobile {
    float: none !important;
    width: initial;
	}
}

@media screen and (max-width: 600px) {
	.zb-area {width: 12.666666% !important; }
}
/*PLACEHOLDERS*/
::-webkit-input-placeholder {color: #ABA9A9;}
:-moz-placeholder { /* Firefox 18- */color: #ABA9A9;}
::-moz-placeholder {  /* Firefox 19+ */color: #ABA9A9; }
:-ms-input-placeholder {color: #ABA9A9;}

/* error validation fields */
/* add .zb-error-field to show error fields */
/* add .zb-approved-field to show aprovation fields */
.zb-error-field .checkout-select, .zb-error-field input{border: 1px solid #cc0000 !important;background: #f9f8f1 !important;}
.zb-error-field .checkout-select {background: #f9f8f1 url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50% !important;}
.zb-forms .zb-error-message, .zb-factura .zb-error-message, .zb-visa .zb-error-message, .zb-factura .zb-approved-message, .zb-visa .zb-approved-message, .zb-forms .zb-approved-message {display: none;}
.zb-error-message {color: #cc0000; float: left;}
.zb-error-message p { /* width: 100%; */ /* padding: 0px 10px; */ font-size: 11px;}  
.zb-error-message img, .zb-approved-message img {position: absolute;right: -8px;top: 35px;width: 14px;height: 14px;}  
.zb-error-field .zb-error-message {display: inline-block !important; /* position: absolute; */ /* bottom: -7px; *//* width: 100%; */left: 0px; text-align: left;}
.zb-approved-field .zb-approved-message{display: inline-block !important;position: absolute;right: -8px;bottom: 15px;}
.zb-approved-message {  }
/* height */
.zb-height {height: 410px !important;margin-top: 15px !important;}

@media screen and (max-width: 998px) {
.zb-height {height: 500px !important;}
}

@media screen and (max-width: 768px) {
.zb-height {height: 785px !important;}
}

/* END data factura */
/* START data VISA ABC */
#zb-ver {display: none;width: 101.5px;height: auto;position: absolute;background-color: rgb(255, 255, 255);top: 0px;right: 110%;z-index: 2;-webkit-box-shadow: -1px 0px 16px -1px rgba(0,0,0,0.15);-moz-box-shadow: -1px 0px 16px -1px rgba(0,0,0,0.15);box-shadow: -1px 0px 16px -1px rgba(0,0,0,0.15);overflow: hidden;height: 66px;}
#zb-ver img {width: 100%;}
.zb-visa{height: auto !important;margin: 0px !important;text-align: center;}
.paymentmethodImgvisa {float: none;display: inline-block;margin: 0 auto;max-width: 100%;max-height: 73px;}
.zb-visa input {width: 100% !important;margin: 0px !important;}
.zb-visa-month {width: 25% !important;min-width: 0px;/* float: left; */}
.zb-visa-year {width: 70% !important;margin-left: 4% !important;min-width: 0px;/* float: left; */}
.zb-visa-select-back {padding: 5px 8px !important; font-size: 12px !important; color: black !important;}
.zb-example{padding: 3px 8px;/* float: right; */text-decoration: underline;color: #989898;cursor: pointer;z-index: 20000;text-align: right;}
.zb-bottom-line {display: inline-block;border-bottom: 1px solid #cccccc;margin-bottom: 20px;}

/* break points */
@media screen and (max-width: 1100px) {

	.zb-visa .checkout-select.paymentselectWrapper {width: 80%; min-width: 0px}

}
@media screen and (max-width: 800px) {
	.zb-visa .zb-form-group { padding: 5px 0px 20px 0px;}
	.zb-size .acol12 {width: 90%}
	.zb-visa .checkout-select.paymentselectWrapper {width: 80%; min-width: 0px}
	#zb-ver {right: 110%;}
	.paymentmethodImgvisa { max-height: 60px}
}

@media screen and (max-width: 600px) {
	.zb-visa .zb-form-group {padding: 5px 0px 10px 0px;}
	.zb-size .acol12 {width: 100%}
	#zb-ver {width: 200px;height: 128px;}
	.paymentmethodImgvisa {max-height: 200px;position: relative;max-width: 45%;margin-top: 20px;}
}

/* START Order Detail */
.zb-payment-data #billing_summary .billing_address, .zb-payment-data .billing_summary .billing_address {margin-right: 0; width: 100% !important;}
@media screen and (max-width: 1024px) {
	.zb-payment-data .acol12 {width: 100%}
}

/* forms */
.zb-forms { height: auto; }
.zb-button-more-data { background-color: #bfbfbf;float: left;width: 100%; padding: 10px 0px;text-align: center;color: white;border-radius: 3px;border: 1px solid #a0a0a0;font-size: 13px; }
.zb-button-more-data:hover, .zb-button-more-data-hold { background-color: gray }
.zb-direction-login {display: none;}
.zb-np-1 {padding: 5px 0px 0px 5px  !important;}
.zb-np-1 label { padding: 0px !important }
.zb-np-2 {padding: 2px 5px 5px 5px  !important;}
.zb-visa .zb-form-title h5 {padding: 5px;}
.zb-text-left { text-align: left; }
.zb-form-visa {min-width: 250px;margin-left: 10px !important;}
.zb-result-visa {margin-left: 20px !important;}
#zb-ver img {  }

@media screen and (max-width: 750px) {
	.zb-form-reset-mobile-visa {float: none !important;width: initial;padding-bottom: 0px !important;}
	.zb-np-2 {padding: 5px 0px 10px !important;}
	.zb-width-visa-mobile-form {width: 280px !important;}
	.zb-form-visa, .zb-result-visa { margin-left: 0px !important;}
	#zb-ver {right: 0%;top: -18%;border-radius: 5px;}
	.zb-widht-visa-mobile-inout { width: 100% !important; }
	.zb-visa .zb-form-title h5 { padding: 10px 0px 15px; }
}

@media screen and (max-width: 600px) {
	.zb-factura-form-1 {margin: 0px !important;padding: 0px !important;}
	.zb-width-visa-mobile-form {max-width: 280px !important;display: inline-block;float: none !important;}
	#zb-ver {top: -150%;}
	.zb-example {/* float: left; *//* padding: 5px 0px; */} 
}

/* ocultar opcion visa de selector */
/* .zb-visa-hide-opction { display: none; } */


/* warranty */
.zb-cart-content-warranty{position: relative;border: solid 1px #ccc;padding: 0px 0px;background: #F5F5F5;}
.zb-cart-ge-container-2{position: absolute;top: 120% !important;display: none;z-index: 9;right: 0;-webkit-box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.17);-moz-box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.17);box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.17);}
.zb-cart-options-trigger{}
.zb-cart-ge-show-more {min-height: 40px;}
.zb-cart-ge-extra-warranties {display: none;}
.zb-payment-ge-detail-header img{width: 100%}
.zb-cart-delet-item {background-image: url(../../images/checkout/deleteItemIE.png) !important; display: block; margin: 15px auto 0 auto; background-size: 100%; width: 8px;height: 8px;}
.zb-cart-center-texts {padding:10px 0px;text-align: center;}
.zb-cart-img {max-width: 45px; padding: 0; margin: auto;}
.zb-send-center-texts {padding: 15px 0px; text-align: left;}
.zb-send-center-image {text-align: center;}
.zb-vertical-center { margin: 16px 0px !important;}
.zb-hist-title-ge { padding-top: 10px;}
.zb-hist-edit-ge {}
.zb-content-ge-hist-advice { background-color: #F5F5F5; text-align: center; border: 1px solid #DADADA; margin-bottom: 10px;}
.zb-content-logo-ge-hist-advice {float: left;}
.zb-ge-hist-announcer { text-align: left;text-align: left; padding: 15px 0px }
.zb-ge-viewer-warranty { text-align: right; padding: 15px 0px 0px 0px;text-decoration: underline;}
.zb-cart-ge-container-2 .zb-payment-ge-bg-gray:hover {background-color: #CACACA !important ;/*cursor:pointer*/}
.zb-cart-ge-container-2 .zb-payment-ge-bg-light-gray:hover {background-color: #D8D7D7; /*cursor:pointer*/}
.zb-cart-ge-container-2 .zb-payment-ge-content-info .zb-payment-ge-bg-green:hover { background-color: #3BAD7E; }

@media screen and (max-width: 600px){
	.zb-cart-ge-container-2 {position: fixed;z-index: 1000;top: 0 !important;left: 0;border-radius: 0px !important;background-color: rgba(0, 0, 0, 0.64) !important; height: 100%; }
	.zb-cart-content-warranty .deleteitemColumn { left: 0px !important }
	.show-hide {display: none;}
	.zb-payment-monile-container {
    background-color: #FFFFFF;}
    .zb-cart-center-texts { padding:23px 0px;}
    .zb-send-center-texts { padding: 0px 0px 10px 14px; }
    .zb-vertical-center .checkouttotalsItem.internetPrice.nm.midPrice.rwWidth { border-top: 0px; border-bottom: 0px;}
    .zb-hist-title-ge { padding: 10px 0px 0px 5px;}
    .zb-hist-edit-ge { padding: 0px 0px 0px 5px; }
    .zb-cart-content-warranty .button_primary > .button_text { padding: 1px 18px;}
    .zb-cart-content-warranty .button_primary { max-width: 90px } 
    .zb-content-logo-ge-hist-advice {margin-top: 10px;}
    .zb-ge-viewer-warranty { text-align: left; }


}

.zb-conform-img-ge {width: 94px; text-align: center;}
.zb-conform-img-ge img { max-width: 50px; }
.zb-warranty-owner {border-bottom: 0px !important;}
