/*ancho vitrina*/
.row.margin-true{max-width: 1150px; margin:0 auto}

.containerHome .prevPageButton,  .containerHome .nextPageButton {
    background: none !important;
}
.paymentButton {
    display: block !important;
}

.button_noBuyable {display: table; width: 86%; padding: 1px 0px; background-color: #777777; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; /* margin-top: -6px !important; */ border: solid 1px #ccc; margin-bottom: 6px; max-width: 139px; top: 0px; position: relative; }
div#productPageShoppingCart {color: #fff; text-shadow: 1px 1px 1px #000 !important; }
ul li, ul.subcategoryList li {list-style: none; }
h2.myaccount_header {margin-left: 10px; }

@media (max-width: 343px){

div.info_table div.row div.info_content {width: 189px !important; }
div.info_table div.row div.label {border-right: 1px solid #e5e5e5; background-color: #fbfbfb; width: 60px !important; }

}

/*tÃ­tulo vitrina*/
.col8.acol12.ccol9.right div#PageHeading_4_-2001_2956 {margin: -13px 0 -10px 10px; }
#content .collapsible > h3, .categoryNavWidget.collapsible > h3, .linkWidget.collapsible > h3 {margin: -16px -21px;}

/*Main Slider Fix*/
.contentCarouselWidget.carousel {width: 100.9%; margin-left: -3px !important; }


/* styles unrelated to zoom */
/** { border:0; margin:0; padding:0; }*/
.image_container p { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;}

/* these styles are for the demo, but are not required for the plugin */
.zoom {display:inline-block; position: relative; margin-left: 25px; width: 85%; }

/* magnifying glass icon */
.zoom:after {content:''; display:block; width:33px; height:33px; position:absolute; top:0; right:0; background:url(../../images/colors/color1/zoom/icon.png); }
.zoom img {display: block; }
.zoom img::selection {background-color: transparent; }
#ex2 img:hover {cursor: url(grab.cur), default; }
#ex2 img:active {cursor: url(grabbed.cur), default; }
#simuladorDeDespacho{margin-left: 15px; }
p[id^="product_longdescription_"]{margin: 20px; }
.imagenesAdjuntas > div[id^='productAngleLi'] {float: left; }
.containerHome > .row.margin-true.rowCalugas {max-width: 1150px !important; margin: 0 auto !important; width: 80% !important; }

.actionButton {max-width: 130px; }
.col12.checkoutButtons a {display: inline-block; float: none; }
.col12.checkoutButtons {text-align: center; }
.mainFooter {overflow: hidden; }
div#checkout_crumb {border-bottom: 1px solid #ccc; margin-bottom: 22px; }
#box .main_header_text {font-family: Tahoma, Verdana, Segoe, sans-serif; border-style: none; border-width: 0px 1px 0; padding: 8px; font-weight: 400; color: #8E8E8E; font-size: 20px; background: none; /* border-bottom: solid 1px #ccc; */ font-size: 15px !important; font-weight: 700; color: #4d4d4d; }

@media screen and(max-width: 480px){

.containerHome > .row.margin-true.rowCalugas{width: 80% !important;} 
img.zoomImg {display: none; }

}


@media (max-width: 600px){

    .previewcartTitle {
        font-size: 11px;
    }
    .o_float.button_noBuyable.gradient .button_text {
        background: none !important;
        height: 25px;
        margin-top: -2px;
        line-height: 13px;
        margin-bottom: 0px !important;
        position: relative;
        padding: 5px 0px 1px 0px;
    }  

    .mundoabcdinImagen {
        /* height: 93px; */
        overflow: hidden;
    }

    .previewInfo {
        float: none !important;
        width: auto !important;
    }


    .mainFooter ul {
    /*padding: 10px 0;*/
    width: 100% !important;
    /*max-width: 313px;*/
}

#content .collapsible[aria-expanded="false"] > h3:before, .categoryNavWidget.collapsible[aria-expanded="false"] > h3:before, .linkWidget.collapsible[aria-expanded="false"] > h3:before {
    top: 17px !important;
    }

.abcdinPrice {
    width: 91px !important;
}
.departmentMenu > .header > .toggle {
 display: none !important;
}


a.loginLink.closeSession { margin-right: 7px !important; }



#searchBox {
    height: 30px !important;
    margin-top: 1px !important;
}

#searchTermWrapper {

    margin: 0px 0 !important;}

 #searchTermWrapper > input {
        line-height: 25px;
        margin-top: -3px !important;
        
    }

#quick_cart_container, #MiniShopCartProductAdded {
    left: auto !important;
    right: 3% !important;
    top: 122px !important;
}
div#MiniShoppingCart {
    position: absolute !important;
    right: -9px !important;
    top: 35px !important;
    z-index: 10000 !important;

}

.dijitTextBox {
    border: solid #BFBFBF 1px;
    width: 100% !important;
    vertical-align: middle;
    position: relative;
    left: -2px;
}

#departmentsButton.basicButton {

    top: -4px !important;
}
.closeWindow {

    z-index: 999999999 !important;

}
#header #quick_cart_container, #header #MiniShopCartProductAdded {  left: 0 !important;top: 95px !important; right: -2px !important;}

#quick_cart_container, #MiniShopCartProductAdded {

    left: 0 !important;
    top: -4px !important;
    right: -2px !important;
    z-index: 3 !important;
}


.container_full_width.container_margin_5px {margin-top: 0px !important; }
#departmentsMenu.active {margin-top: -46px !important;} div#page {overflow-x: hidden; margin-top: 97px; }
#searchBox > .submitButton {width: 17px; border-width: 4px 1px !important; }
#searchBox > .submitButton:before {); display: block; position: absolute; left: -121px; top: -21px; }
#searchBox:hover > .submitButton:before { display: block; position: absolute; left: -121px; top: -21px; }
#widget_minishopcart:before {background: url("../../images/imagesnew/userMenu/cart.png"); position: inherit; left: inherit; top: inherit; clip: inherit; } 
.mainHeader {
    height: 88px !important;
} 

.row.margin-true > div > div {margin:  0 !important }
.containerHome > .row.margin-true:nth-child(2) {padding: 0px !important; }
div.content_wrapper_position {width: 100%; /* margin-top: 39px !important; */ }
.panelLinkSelected{color: transparent; opacity: 1; color: #fff; float: right !important; }
.panelLinkSelected strong span{color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,.6); }
.loginLink {float: right !important; text-shadow: 0px 0px 0px !important; }
.loginWrap {width: 170px !important; margin: 7px 16px 0px 0px !important; }
#Header_GlobalLogin_signInQuickLink {margin-top: 21px; } 
.panelLinkSelected.selected {float: right !important;}


a#topBanner {text-align: center; display: block; color: #000; padding: 6px;     -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }

#topBanner red {color: #D51E20; font-weight: bold; } 
a#topBanner:hover red {color: #FEF500}
a#topBanner:hover {background: #000; color: white}
div#topbannerOpen {height: 0px; overflow: hidden; transition:all 0.5s ease-in-out; -webkit-transition :all 0.4s ease; -moz-transition:all 0.3s ease; background-image: url("/wcsstore/ABCDIN/rwdWebAssets/abcdin/textosTop/banner.jpg"); background-position: top center; }
div#topbannerOpen:hover {opacity: .8}
div#topbannerOpen a {display: block; width: 100%; height: 190px; }
.open {height: 190px !important; max-height: 190px !important; height: 164px !important; max-height: 200px !important; -webkit-box-shadow: inset 0px -12px 27px 1px rgba(0,0,0,0.5); -moz-box-shadow: inset 0px -12px 27px 1px rgba(0,0,0,0.5); box-shadow: inset 0px -12px 27px 1px rgba(0,0,0,0.5); }
/*.closeButton:before {width: 16px; height: 16px; content: "x"; position: absolute; right: 14px; color: #fff; background-color: red; border-radius: 10px; /* letter-spacing: 34px;  text-align: center; line-height: 13px; font-style: normal; font-weight: bold; }*/
a#topBanner {display: block; margin: 0 auto; text-align: center;padding: 4px 0px; }

/*ancho vitrina*/
.row.margin-true{max-width: 1150px; margin:0 auto}
div#widget_breadcrumb {margin-bottom: -11px; margin-top: -2px; }
/*tÃ­tulo vitrina*/
.col8.acol12.ccol9.right div#PageHeading_4_-2001_2956 {margin: -13px 0 -10px 10px; }
#content .collapsible > h3, .categoryNavWidget.collapsible > h3, .linkWidget.collapsible > h3 {margin: -16px -21px;}

/*Main Slider Fix*/
.contentCarouselWidget.carousel {
width: 100.9%;
margin-left: -3px !important;
}


@media (max-width: 480px ){
.categoryNavWidget.collapsible:after {content: ""; display: block; float: left; width: 100%; height: 1px; background-color: #CACACA; margin-top: 12px; margin-bottom: 8px; }

}


.image_container p { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;}
.zoom {
display:inline-block;
position: relative;
margin-left: 25px;
width: 85%;
}

/* magnifying glass icon */
.zoom:after {
content:'';
display:block; 
width:33px; 
height:33px; 
position:absolute; 
top:0;
right:0;
background:url(../../images/colors/color1/zoom/icon.png);
}

.zoom img {
display: block;
}

.zoom img::selection {
background-color: transparent;
}

#ex2 img:hover { 
cursor: url(grab.cur), default; 
}
#ex2 img:active { 
cursor: url(grabbed.cur), default;
}

#simuladorDeDespacho{
margin-left: 15px;
}

p[id^="product_longdescription_"]{
margin: 20px;
}

.imagenesAdjuntas > div[id^='productAngleLi'] {
float: left;
} 

.product_price .button_text {color: white; background: rgba(202,20,0,1); font-size: 12px !important; font-family: Tahoma, Verdana, Segoe, sans-serif; background: -moz-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important; background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202,20,0,1)), color-stop(100%, rgba(176,15,0,1))) !important; background: -webkit-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important; background: -o-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important; background: -ms-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important; background: linear-gradient(to bottom, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca1400', endColorstr='#b00f00', GradientType=0 ) !important; border: none; }

.containerHome > .row.margin-true.rowCalugas {max-width: 1150px !important; margin: 0 auto !important; width: 80% !important; }

@media screen and(max-width: 480px){
    .containerHome > .row.margin-true.rowCalugas{width: 80% !important;}
}

.previewPrices {
    margin-top: 0px !important;
    }

@media (max-width: 600px){

    div.previewQty {
        width: 68px;
        font-size: 10px;
        float: left;
    }

    .detailProduct {
        margin-left: 3px !important;
    }

    .col1.nm.deleteitemColumn {
        position: relative !important;
        left: 0px;
        top: 13px;
    }

    div#divIngresarRUT .input2Field2 {
        position: relative;
        top: -30px;
        left: 146px;
    }

    #Header_GlobalLogin_signInQuickLink {
        margin-top: 9px !important;
    }

    .divPrincipalCompletarDatos {
        position: relative !important;
    }

    div#divPrincipalCompletarDatos .shippingButton {
        position: absolute;
        right: 14px;
        top: 156px;
    }


     .header_bar .controls .view_controls {
      display: none !important;
    }

    .discountCode .actionButton {
        padding: 6px 8px !important;
    }

    .detailProduct img {
   
        margin-left: -9px !important;
    }

    .previewCartWrapper {
        width: 100% !important;
        max-width: 100% !important;
    }

    #cartDropdown {
        position: relative;
        width: 100% !important;}

#departmentsMenu.active {margin-top: -46px !important;}

div#page {
    overflow-x: hidden;
    margin-top: 97px;
}

#widget_minishopcart:before {
    content: url("../../images/imagesnew/userMenu/cart.png");
    position: inherit;
    left: inherit;
    top: inherit;
    clip: inherit;
}

.productListingWidget > .header_bar .pagination_present {
    margin-top: -30px;
    width: 100% !important;
    position: relative;
}

.paging_controls {
    float: left !important;
    top: 3em !important;
    position: relative !important;
}


}



.row.margin-true > div > div {margin:  0 !important } 
.containerHome > .row.margin-true:nth-child(2) {padding: 0px !important; }



div.content_wrapper_position {width: 100%;}

.panelLinkSelected{color: transparent; opacity: 1; color: #fff; float: right !important; }

.panelLinkSelected strong span{color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,.6); }


.loginLink {float: right !important; text-shadow: 0px 0px 0px !important; }


.loginWrap {width: 170px !important; margin: 7px 16px 0px 0px !important; }

.panelLinkSelected.selected {float: right !important;}

}

a#topBanner {text-align: center; display: block; color: #000; padding: 6px;     -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }

#topBanner red {color: #D51E20; font-weight: bold; } 
a#topBanner:hover red {color: #FEF500}
a#topBanner:hover {background: #000; color: white}
div#topbannerOpen {height: 0px; overflow: hidden; transition:all 0.5s ease-in-out; -webkit-transition :all 0.4s ease; -moz-transition:all 0.3s ease; background-image: url("/wcsstore/ABCDIN/rwdWebAssets/abcdin/textosTop/banner.jpg"); background-position: top center; }
div#topbannerOpen:hover {opacity: .8}
div#topbannerOpen a {display: block; width: 100%; height: 190px; }
.open {height: 190px !important; max-height: 190px !important; height: 164px !important; max-height: 200px !important; -webkit-box-shadow: inset 0px -12px 27px 1px rgba(0,0,0,0.5); -moz-box-shadow: inset 0px -12px 27px 1px rgba(0,0,0,0.5); box-shadow: inset 0px -12px 27px 1px rgba(0,0,0,0.5); }
/*.closeButton:before {width: 16px; height: 16px; content: "x"; position: absolute; right: 14px; color: #fff; background-color: red; border-radius: 10px; /* letter-spacing: 34px;  text-align: center; line-height: 13px; font-style: normal; font-weight: bold; }*/
a#topBanner {
    display: block;
    margin: 0 auto;
    text-align: center;padding: 4px 0px;
}
/*ancho vitrina*/
.row.margin-true{max-width: 1150px; margin:0 auto ; width: 100%}
div#widget_breadcrumb {margin-bottom: 17px; }
/*tÃ­tulo vitrina*/
.col8.acol12.ccol9.right div#PageHeading_4_-2001_2956 {margin: -13px 0 -10px 10px; }
#content .collapsible > h3, .categoryNavWidget.collapsible > h3, .linkWidget.collapsible > h3 {margin: -9px -21px -16px -21px;}

/*Main Slider Fix*/
.contentCarouselWidget.carousel {
width: 100.9%;
margin-left: -3px !important;
}

/* styles unrelated to zoom */
/** { border:0; margin:0; padding:0; }*/
.image_container p { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;}

/* these styles are for the demo, but are not required for the plugin */
.zoom {
display:inline-block;
position: relative;
margin-left: 25px;
width: 85%;
}

/* magnifying glass icon */
.zoom:after {
content:'';
display:block; 
width:33px; 
height:33px; 
position:absolute; 
top:0;
right:0;
background:url(../../images/colors/color1/zoom/icon.png);
}

.zoom img {
display: block;
}

.zoom img::selection {
background-color: transparent;
}

#ex2 img:hover { 
cursor: url(grab.cur), default; 
}
#ex2 img:active { 
cursor: url(grabbed.cur), default;
}

#simuladorDeDespacho{
margin-left: 15px;
}

p[id^="product_longdescription_"]{
margin: 20px;
}

.imagenesAdjuntas > div[id^='productAngleLi'] {
float: left;
} 



.containerHome > .row.margin-true.rowCalugas {max-width: 1150px !important; margin: 0 auto !important; width: 80% !important; margin-top: 15px;}

@media screen and(max-width: 480px){
.containerHome > .row.margin-true.rowCalugas{width: 80% !important;}
}


/* IPAD ARROWS */
@media (max-width:1200px){

    .checkoutbreadcrumbsIcon {
       
        left: -10px !important;
    }

    .checkouttotalsItem.internetPrice.nm.midPriceCart {
        font-size: 10px !important;
    }

    .detailPricesTop .checkouttotalsItem {
        font-size: 10px !important;
    }

    .detailProduct img {
        border: solid 1px #ccc;
        max-height: 90px;
        margin-left: -33px;
    }

    input#low_price_input, input#high_price_input {
       width: 30% !important;
    }

    ul.facetSelect li {
        padding: 15px 0px !important;
        width: 93% !important;
        margin-left: 25px !important;
    }

.catalogEntryRecommendationWidget  > a {
    position: absolute;
    top: 50%;
    margin-top: -29px;
    outline: 0;
    width: 23px;
    height: 42px;
    text-indent: -9999px;
    z-index: 9999;
}


 .nextPageButton {
    right: 10px !important;
   background: url(images/controls.png) no-repeat -23px -42px !important; 

}

 .prevPageButton {
    left: -35px;
    background: url(images/controls.png) no-repeat 1px -42px;

}


 .prevPageButton:hover {
 
    background-position: 1px 0;
}

 .nextPageButton:hover {

    background-position: -23px 0px !important;
}



}

@media (max-width: 600px){

    .rowCarousel .bx-wrapper {
        width: 82% !important;
        margin: 0 auto !important;
    }

    .detailPricesTop .normalPrice, .detailPricesTop .internetPrice, .detailPricesTop .abcdinPrice {
        width: 143px !important;
    }

.mainNav {
    top: 0px !important;
    height: 0px !important;
        margin-top: -46px;
}


.rowContainer.containerHome {
    padding-top: 6px;

}
.col4.nm.abcdincardPrice .price {
    padding-top: 13px !important;
}

.image_container:before {
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    z-index: 2;
    position: absolute;
}

.image_container {
    position: relative;
}

.catalogEntryRecommendationWidget  > a {
    position: absolute;
    top: 50%;
    margin-top: -29px;
    outline: 0;
    width: 23px;
    height: 42px;
    text-indent: -9999px;
    z-index: 9999;
}


 .nextPageButton {
    right: 10px !important;
    background: url(images/controls.png) no-repeat -23px -42px !important; 

}

 .prevPageButton {
    left: -35px;
    background: url(images/controls.png) no-repeat 1px -42px;

}


 .prevPageButton:hover {
 
    background-position: 1px 0;
}

 .nextPageButton:hover {

    background-position: -23px 0px !important;
}


#departmentsMenu.active {margin-top: -4px !important;}

div#page {
    overflow-x: hidden;
    margin-top: 97px;
}


#widget_minishopcart:before {
    content: "" !important;
}
#widget_minishopcart {
    background: url("../../images/imagesnew/userMenu/carrito.svg") no-repeat !important;
    clip: inherit;
    margin: 2px 9px;
    content: "" !important;
    display: block;
    background-position: -3px 6px !important;
    background-size: 44px !important;
}

#widget_minishopcart:hover {
    background: url("../../images/imagesnew/userMenu/carrito.svg") no-repeat !important;
    clip: inherit;
    margin: 2px 9px;
    content: "" !important;
    display: block;
    background-position: -3px 6px !important;
    background-size: 44px !important;
}


}



.row.margin-true > div > div {margin:  0 !important } 
.containerHome > .row.margin-true:nth-child(2) {padding: 0px !important; }



div.content_wrapper_position {width: 100%; }

.panelLinkSelected{color: transparent; opacity: 1; color: #fff; float: right !important; }

.panelLinkSelected strong span{color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,.6); }


.loginLink {float: right !important; text-shadow: none !important}


.loginWrap {width: 155px !important; margin: 7px 16px 0px 0px !important; }

.panelLinkSelected.selected {float: right !important;}

}

a#topBanner {text-align: center; display: block; color: #000; padding: 6px;     -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }

#topBanner red {color: #D51E20; font-weight: bold; } 
a#topBanner:hover red {color: #FEF500}
a#topBanner:hover {background: #000; color: white}
div#topbannerOpen {height: 0px; /* overflow: hidden; */ /* transition:all 0.5s ease-in-out; */ /* -webkit-transition :all 0.4s ease; */ -moz-transition:all 0.3s ease; /* background-image: url("/wcsstore/ABCDIN/rwdWebAssets/abcdin/textosTop/banner.jpg"); */ /* background-position: top center; */ }
div#topbannerOpen:hover {opacity: .8}
div#topbannerOpen a {overflow: hidden; transition: all 0.5s ease-in-out; -webkit-transition: all 0.4s ease; -moz-transition: all 0.3s ease; background-image: url("/wcsstore/ABCDIN/rwdWebAssets/abcdin/textosTop/banner.jpg"); background-position: top center; }
div#topbannerOpen a {display: block; width: 100%; height: 190px; }
.open {height: 190px !important; max-height: 190px !important; height: 164px !important; max-height: 190px !important; -webkit-box-shadow: inset 0px -12px 27px 1px rgba(0,0,0,0.5); -moz-box-shadow: inset 0px -12px 27px 1px rgba(0,0,0,0.5); box-shadow: inset 0px -12px 27px 1px rgba(0,0,0,0.5); }
/*.closeButton:before {width: 16px; height: 16px; content: "x"; position: absolute; right: 14px; color: #fff; background-color: red; border-radius: 10px; /* letter-spacing: 34px;  text-align: center; line-height: 13px; font-style: normal; font-weight: bold; }*/
a#topBanner {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 4px 0px;
}

@media screen and (max-width: 420px), screen and (max-width: 652px) and (min-width: 601px) {




.compare_target {
    margin-top: 0px;
}

.paging_controls {

   
      position: relative;
   border: 0px !important;
       top: 38px !important;
   float: none !important;
}


.paging_controls > .left_arrow > img {
    padding-left: 6px;
    position: absolute;
    left: -9px;
}

.paging_controls > .right_arrow > img {
    padding-right: 10px;
    position: absolute;
    top: 3px;
    left: 45px;
}

.sorting_controls > span.order_by_label {
    display: inline-block;
     width: 43px;
}

.productListingWidget > .header_bar .controls > * {
    float: right;
    display: block;
}

}

.promocionElegir {
    color: white;
    background: rgba(202,20,0,1);
    font-size: 12px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background: -moz-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202,20,0,1)), color-stop(100%, rgba(176,15,0,1))) !important;
    background: -webkit-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important;
    background: -o-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important;
    background: linear-gradient(to bottom, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca1400', endColorstr='#b00f00', GradientType=0 ) !important;
    border: none;
}

.promocionElegir:hover {

    background: rgba(152,11,30,1) !important;
    background: -moz-linear-gradient(top, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(152,11,30,1)) !important, color-stop(100%, rgba(142,11,28,1))) !important;
    background: -webkit-linear-gradient(top, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%);
    background: -o-linear-gradient(top, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%);
    background: linear-gradient(to bottom, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#980b1e', endColorstr='#8e0b1c', GradientType=0 );
    }


@media (max-width: 1120px) and (min-width: 601px) {
#searchBar {
    display: block;
    position: relative;
    right: inherit !important;
    top: inherit !important;
    width: 105% !important;
}

}

@media  (min-width: 601px) {

    a.loginLink.closeSession {
    width: 100%;
}

    #quick_cart_container, #MiniShopCartProductAdded {
    left: auto !important;
    right: 15px !important;
    top: 123px !important;
}


}
.checkoutproductContainer{
    max-width: 1195px !important;
    margin: 0 auto !important;
    float: none !important;
}


.bx-wrapper .bx-prev {
    left: -35px !important;
}

@media screen and (max-width: 960px){
.detailPricesTop .normalPrice, .detailPricesTop .internetPrice, .detailPricesTop .abcdinPrice {
    width: 72px !important;
}
}

@media (max-width: 1026px) and (min-width: 601px) {

    .topBullet1, .topBullet2 {font-size: 13px;}

    div[id^="PageHeading_"] h1 {
        font-size: 25px;
        padding-top: 14px;
        max-width: 775px !important;
        padding: 0 14px;

    }

    div.widget_product_image_viewer {
        width: 100%;
        margin-bottom: 30px;
        padding: 0 11px;
    }

    .col12.acol12.ccol6.right.tabbedSlots9_10_11 {
        padding: 0px 10px;
    }
    

}


@media (max-width: 960px) {


#ShopCartDisplay .internetPrice.midPriceCart {
    width: 78px !important;
    padding-right: 5px;
    padding-left: 3px;
}

.col1.nm.deleteitemColumn {
    position: relative;
    left: -10px;
}

}


a#Header_GlobalLogin_signInQuickLink {
    margin-top: 15px !important;
}


@media (max-width: 999px) and (min-width: 740px){
    
.bx-wrapper .bx-viewport {
        height: 141px !important;
    }

    .mundoabcdinImagen {
        display: block;
        margin-bottom: 8px !important;
        height: 82px !important;
    }
    .mundoabcdinTitulo {
        text-transform: uppercase;
        font-size: 10px  !important;}

        .fluid-width-video-wrapper {
           height: 24px !important;
            padding: 0;}

        .content ul {
            margin: 0;
            padding: 0 1em !important;
        }
}

div#contentWrapper {
    -webkit-overflow-scrolling: scroll !important;
    -webkit-overflow-scrolling: scroll;
    -moz-overflow-scrolling: scroll;
    -ms-overflow-scrolling: scroll;
    -o-overflow-scrolling: scroll;
    overflow-scrolling: scroll;
    /* min-height: 660px; */
}

.sliderContainer {
    position: static !important;
}

#loading_popup {
    position: fixed;
    width: 40px;
    overflow: hidden;
    left: 50% !important;
}

.stickytopIpad {
    position: fixed !important;
    width: 100%;
    top: 0px;
}

li.active:last-child ul {
    position: absolute;
    left: -138px;
    top: 31px;
}

.col12.mw.nm.mainnavInner {
  -webkit-transition: all 0.4s ease-in-out !important;
     -o-transition: all 0.4s ease-in-out !important;
     transition: all 0.4s ease-in-out  !important;
}

div#widget_breadcrumb {
    margin-bottom: 14px !important;
}


.slide {
    overflow: hidden !important;
}

/* Banner Abc Din Carrouselles */

.mundoabcdinImagen {
}

@media(max-width:999){
    .mundoabcdinImagen {
        display: block;
        margin-bottom: 15px;
        width: 100%;
        height: 82px;
        overflow: hidden;
    }       
}

/* Fin Banner Mundo AbcDin*/


.closeWindow:before {
    content: "cerrar";
    display: block;
    position: relative;
    left: -33px;
    font-family: Tahoma, sans-serif !important;
    font-size: 11px;
    top: -1px;
}


@media (-webkit-device-pixel-ratio: 2) {
    #content .collapsible > h3:before{
        -webkit-transform: scale(1) !important;
    }
}



/* Estilos Buscador AbcDin*/

@media (max-width: 600px){

    .checkouttotalsItem.totalPrice.nm {

        width: 90% !important;}

        .containerHome > .row.margin-true.rowCalugas {
            margin: 0 auto -3px auto !important;
			padding-bottom: 20px !important;
        }

        .mundoabcdinImagen {
            /* height: 93px; */
            overflow: hidden;
        }
 
.sorting_view_controls_container {
    position: absolute !important;
    right: 10px;
    top: 34px;
}

.autoSuggestDivNestedList li.heading {
    display: none;
}
.pageControlWrapper {
    position: absolute;
    top: 0px;
    left: 7px;
}
.sorting_view_controls_container {
    position: relative;
}

.sorting_controls > span.order_by_label label {

    font-size: 9px !important;
}


.sorting_controls > span.page_size_label label {

    font-size: 9px !important;
}

.sorting_controls .selectWrapper {
    width: 31px !important;
}

.paging_controls > .left_arrow > img {
    padding-left: 10px;
    position: relative;
    left: -20px;
}

.productListingWidget #orderByDropdown, .productListingWidget .orderByDropdown {
    margin-right: 2px !important;
}

div#widget_search_dropdown {
    height: 16.5em; 
    overflow: scroll;
    background: #fff;
    top: -0.7em;
    width: 90%;
    position: relative;
    border-bottom: 1px solid #D8D8D8;
    left: 1em;
    overflow: scroll;
}


ul.autoSuggestDivNestedList li a {
    padding: 8px 5px !important;
}



div#WC_PasswordResetForm_div_3 {
    border: solid 1px #ccc;
    height: 239px !important;

}
}

/* Estilos Paginador Ipad */

@media screen and (max-width: 999px) and (min-width: 601px){

    .calugascomercialesContent >a:last-child {
        /* display: none; */
    }

    .detailPricesTop .checkouttotalsItem {
        font-size: 10px !important;
    }

    .checkouttotalsItem.internetPrice.nm.midPriceCart {
        font-size: 10px !important;
    }

    .detailProduct img {
     max-width: 72px;
     margin-left: -46px;
     margin-top: 0px;
    }

    .checkoutbreadcrumbsIcon {
        left: -10px !important; 
    }

    input#low_price_input, input#high_price_input {
        width: 30% !important;
    }

    ul.facetSelect li {
        padding: 15px 0px !important;
        width: 93% !important;
        margin-left: 25px !important;
    }

    .productListingWidget > .header_bar .pagination_present {
        width: 100% !important;
    }

    span.page_size_label {
        width: 70px !important;
        margin-top: 5px !important;
    }
    .paging_controls {
        position: absolute;
        top: 32px;
    }

    .sorting_view_controls_container {
        position: relative !important;
        top: 32px !important;
    }

    .paging_controls > .left_arrow > img {
        padding-left: 0px !important;
    }
}
 @media(max-width: 480px){
    .detailPricesTop .normalPrice, .detailPricesTop .internetPrice, .detailPricesTop .abcdinPrice {
        width: 106px !important;
    }
 }
 
.zb-pr-add-cart {padding:2px 2px 2px 30px !important;cursor:pointer;background: #CA1500 url('../../images/jr_images/agregar-carro.png') !important;background-position:2px center !important;background-repeat:no-repeat !important;background-size:auto 100% !important;}
.zb-pr-add-cart:hover {padding:2px 2px 2px 30px !important;cursor:pointer;background: #980B1E url('../../images/jr_images/agregar-carro.png') !important;background-position:2px center !important;background-repeat:no-repeat !important;background-size:auto 100% !important;}
.zb-pr-add-cart.zb-agregado {background-image:url('../../images/jr_images/agregado-carro.png') !important;background-color: rgba(124,124,124,1) !important;}
.zb-pr-add-cart.zb-agregado:hover {background-color: rgba(124,124,124,1) !important;}