/*---------------------------------------*/
/* GENERAL LAYOUT */
/*---------------------------------------*/
body {cursor:default;font-family:Tahoma,Geneva,sans-serif;font-size:13px;}
.th * {font-family:Tahoma,Geneva,sans-serif;font-size:12px;}
.col6 {float:left;}
.col1.nm,.col2.nm,.col3.nm,.col4.nm,.col5.nm,.col6.nm,.col7.nm,.col8.nm,.col9.nm,.col10.nm,.col11.nm,.col12.nm {margin:0;float:left;}
.col1.mw,.col2.mw,.col3.mw,.col4.mw,.col5.mw,.col6.mw,.col7.mw,.col8.mw,.col9.mw,.col10.mw,.col11.mw,.col12.mw {float:none;max-width:1150px;margin-right:auto !important;margin-left:auto !important}
div:focus {outline:none;}
.centerContent {text-align:center;}
a,input {outline:none;}
#text_highlight {display:none;}
iframe {display:none;}
ul li {list-style:initial;}
.row.margin-true {max-width:1150px}
/*EFFECTS*/
.promoCat,.button_primary,.button_text,.MundoAbcdin a,.topBullet1,.topBullet2,.topBullet1 a,.topBullet2 a,.topBullet1_3 {-webkit-transition-duration:0.2s !important;-moz-transition-duration:0.2s!important;-o-transition-duration:0.2s!important;transition-duration:0.2s!important;}
div.div_display_none {display:none;}
div.div_display_block {display:block;}
/*TEXT INPUT*/
input {border:solid 1px #ccc;border-radius:5px;padding-top:6px;padding-bottom:6px;}
.inputField {text-align:left;}
/*ELEMENTS*/
div[id^="lptopspacer"] {display:none;}
/*BREADCRUMB*/
div#widget_breadcrumb {padding:0 10px;max-width:1143px;}
/*CAROUSEL*/
.homeHero-background {top:0 !important;}
/*FIX CAROUSEL*/
.rowCalugas div[id^="contentCarouselWidget_"] {margin-top:0px !important;}
/*CAROUSEL*/
.product_info>.product_name>a {text-align:center;font-family:Tahoma,Verdana,Segoe,sans-serif;font-size:12px;padding:6px 0px;color:#676767;vertical-align:middle;display:table-cell;width:100%;}
/*PLACEHOLDERS*/::-webkit-input-placeholder {color:#bb001f;font-family:Tahoma,Verdana,Segoe,sans-serif;}
:-moz-placeholder {/* Firefox 18- */color:#bb001f;font-family:Tahoma,Verdana,Segoe,sans-serif;}
::-moz-placeholder {/* Firefox 19+*/color:#bb001f;font-family:Tahoma,Verdana,Segoe,sans-serif;}
:-ms-input-placeholder {color:#bb001f;font-family:Tahoma,Verdana,Segoe,sans-serif;}
.basicButton>span {background-image:-webkit-gradient(linear,left top,left bottom,from(none),to(none));background-image:linear-gradient(none,none);}
#departmentsButton.basicButton {-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled = false)";filter:none;background-image:none !important;background-image:-webkit-gradient(linear,left top,left bottom,from(none),to(none));background-image:linear-gradient(none,none);}
#departmentsButton.basicButton>span {border:0;}
/* HEADER STYLES */
.mainHeader {background-image:url(https://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/header/backgroundNew.jpg);background-position:center bottom;}
.topDisclaimer {background:white;}
.topDisclaimer img {display:block;margin-right:auto;margin-left:auto;padding:5px 0;max-height:14px;}
#header:before {display:none;}
#header {margin-bottom:26px;}
.topBar {font-family:Arial,Helvetica,sans-serif;font-weight:400;color:white;width:100%;background:blue;background:rgb(0,0,0);background:transparent\9;background:rgba(0,0,0,0.4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);zoom:1;}
.topBar:nth-child(n) {filter:none;}
.topBar .corporateMenu ul {color:white;padding-left:6px;font-size:10px;}
.topBar ul li {display:block;float:left;padding:4px;list-style:none;font-size:9.8px;}
.topBar ul li a {text-decoration:none;color:white;font-size:9.6px;letter-spacing:0.3px;}
.topBar ul .topbarSpacer {display:block;float:left;padding:3px 0px;}
.abcdinCard span {float:right;text-align:right;padding:5px 8px 0px 0px;color:white;font-size:9px;}
.abcdinCard img {max-width:29px;display:block;margin:-3px 8px 0px 0px;}
.logo {height:79px;}
.logo img {max-height:76px;}
.categoryList>li>a {display:block;margin:0 -8px;padding:3px 8px;font-weight:bold !IMPORTANT;text-transform:uppercase !IMPORTANT;}
/*SEARCH BAR*/
#searchBar {z-index:4;}
.headerCharacter {height:91px;width:115px;background-image:url(https://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/header/personaje.png);margin-right:100px;margin-bottom:-95px;margin-top:-1px;margin-left:9px;background-size:100%;}
@media (max-width:840px) {.headerCharacter {	display:none;}
	#searchBar {	width:103% !important;margin:20px 0 0 26px !important;}
}
#searchBar3 {position:absolute;right:0;top:0;width:1px;overflow:hidden;}
#searchBar.active {display:block;border-top:0;}
#searchBar {display:block;position:relative;right:inherit !important;top:inherit !important;width:80%;padding:2px;margin:20px 0 0 136px;z-index:4;
}
#searchBar.active {border-top:0}
#searchTermWrapper {padding:6px 0px 6px 10px;}
#searchTermWrapper>input {line-height:25px;margin-top:-3px;height:25px;}
#searchFilterButton {width:89px;font-size:12px;}
#searchButton {display:none !important;}
#searchFilterMenu.active {width:183px;}
.basicMenu>ul>li {padding:5px 0;}
.basicMenu>ul>li a {font-size:12px;font-family:Tahoma,Verdana,Segoe,sans-serif;}
/*SEARCH RESULTS*/
div.widget_search_results .result {color:#CB1C21;cursor:pointer;}
/*USER MENU*/
.userMenu {font-size:11px;color:white;}
.createAccount {float:right;height:54px;text-align:right;padding:34px 16px 0px 0px;background-image:url(https://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/userMenu/line.png);background-position:center right;background-repeat:no-repeat;}
@media (max-width:600px) {#departmentsMenu>li {float:inherit !important;}
	.container_full_width.container_margin_5px {	margin-top:85px;}
	.order_status_table .ul .li {	float:left;padding:15px 8px;}
	.order_status_table .order_number_column_1 {	width:24%;}
}
@media (min-width:1025px) {
	.categoryList>li {width:32.333333%;}
}
/*CORRECCIÓN MENSAJE LOGIN*/
a#Header_GlobalLogin_signOutQuickLink {font-size:0px;margin-bottom:-1px}
span#Header_GlobalLogin_signOutQuickLinkUser {font-size:14px;font-weight:400;text-shadow:0px 0px 0px #000 !important;}
a#Header_GlobalLogin_signOutQuickLink:before {content:"Hola";width:30px;height:10px;display:block;font-size:14px;float:left;margin-right:5px;}
.loginWrap {float:right;margin:14px 0px 0px 0px;width:157px;line-height:12px;}
.h_tnav_but img {display:none;}
#headerFBlogin {text-align:center;}
.facebookLogin img {max-height:29px;display:block;margin:0px -3px 3px 0px;float:right;}
.loginLink {display:block;margin:4px 0px 3px 0px;text-align:right;font-size:14px;float:right;}
.loginLink:hover {text-decoration:underline;}
#widget_minishopcart:before {content:url("https://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/userMenu/cart.png");position:inherit;left:inherit;top:inherit;clip:inherit;}
#widget_minishopcart {float:right !important;height:47px;}
#widget_minishopcart,#widget_minishopcart:hover {background:none !important;background-image:none !important;border:none !important;}
#Header_GlobalLogin_signInQuickLink {margin-top:27px !important}
/*LOGIN PAGE*/
.forgot_password_link_padding a,p#resendActivationLink a {color:#ca1500 !important;}
#minishopcart_total {border:2px solid #fff;text-align:center;width:200px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background:#ca1500!important;background:-webkit-gradient(linear,0 0,0 bottom,from(#ca1500),to(#B21200)) !important;background:-webkit-linear-gradient(#ca1500,#B21200)!important;background:-moz-linear-gradient(#ca1500,#930F00)!important;background:-ms-linear-gradient(#ca1500,#930F00)!important;background:-o-linear-gradient(#ca1500,#930F00)!important;background:linear-gradient(#ca1500,#B21200)!important;-pie-background:linear-gradient(#ca1500,#930F00)!important;behavior:url("/wcsstore/ABCDIN/css/ext/pie/PIE.htc");width:18px;height:18px;padding:0;line-height:17px;right:4px;font-weight:400;text-shadow:none;text-align:center;}
/*PREVIEW CART*/
.closeWindow:before {content:"cerrar";display:block;position:relative;left:-33px;font-family:Tahoma;font-size:11px;top:-1px;}
.closeWindow {display:block;position:relative;right:7px;top:7px;float:right;width:13px;height:13px;cursor:pointer;background-image:url("https://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/content/closeWindow.png");background-position:center top;margin-bottom:-13px;}
.closeWindow:hover {background-position:bottom;}
#cartDropdown>.content {padding:0px;}
#cartDropdown {position:relative;width:360px;background-color:#ffffff;border:0px solid #c9cece;border-top:0px solid #ffa200;border-radius:0 0 0px 0px;font-size:inherit;}
.previewCartWrapper {width:360px;border:solid 2px #595959;min-height:150px;font-family:Tahoma,Verdana,Segoe,sans-serif;font-size:12px;float:right;background:white;}
.previewCart {border-top:solid 0px #ca1500;width:100%;}
.previewcartTitle {background:#f6f6f8;height:25px;border-bottom:solid 1px #efeff1;font-size:12px;line-height:25px;padding:2% 5%;float:left;width:90%;}
.previewInfo {float:left;width:230px;}
.previewTitle {color:#4b4b4b;font-size:14px;margin-bottom:9px;color:#838383;line-height:18px;}
.previewQty {color:#717171;}
.previewPrices {float:right;margin-top:-16px;text-align:right;line-height:17px;color:#515151;}
div.previewQty {width:68px;font-size:10px;}
.previewPrices .prevPrice1 {color:#ca1500;font-weight:bold;font-size:12px;}
.previewPrices .prevPrice2 {font-weight:bold;font-size:11px;color:#000;}
.previewThumb {width:92px;height:92px;float:left;margin-right:8px;font-size:17px;text-align:center;}
.previewThumb img {border:0;width:69px;border:solid 1px #E2E2E2 !important;height:69px;}
.previewThumb:hover {opacity:0.8;}
.previewProduct {float:left;width:100%;padding-bottom:13px;border-bottom:solid 1px #eeeeee;margin-bottom:18px;}
.previewProduct.subtotal {margin-bottom:3px;padding-bottom:0px;height:69px;}
.previewProducts {padding:4%;float:left;width:92%;}
.previewPay {background:#ca1500;color:white;float:right;padding:8px 15px;text-decoration:none;border-radius:5px;text-shadow:0px 2px 1px #440700;margin-right:15px;margin-bottom:15px;right:-12px;position:relative;}
.previewPay:hover {background:rgb(168,15,15);}
div#widget_minishopcart_popup>#cartDropdown>.content>.subtotal,div#widget_minishopcart_popup_1>#cartDropdown>.content>.subtotal {position:inherit;}
a#MiniShopCartCloseButton_1 {left:-33px;position:relative;font-size:11px;text-transform:lowercase;top:-2px;}
/*MAIN NAV*/
#headerRow2 {background-image:none;border:none;}
.mainNav {width:100%;top:24px;margin-top:-24px;}
.mainnavInner {background:#555454 !important;background-image:none;border-top:solid 2px #b98e95 !important;border-bottom:solid 3px #c4c4c4 !important;}
.departmentButton {height:31px;color:white;margin:0 0 0 0;background-image:none;background-image:none;border:0px;border-radius:0;border-spacing:0;vertical-align:middle;text-transform:uppercase;font-size:12px;}
.departmentButton:hover {background-color:#38393D;background-image:none;-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9',endColorStr='#ced2d3')";}
.departmentButton>span {max-width:inherit;padding:0 25px 0 15px;font-family:Tahoma,Verdana,Segoe,sans-serif;font-size:10.9px;height:32px;border:0px;border-radius:0px;letter-spacing:0.3px;}
#departmentsMenu {margin:0;min-height:32px;}
#departmentsMenu>li {float:left;}
.departmentMenu {font-family:Tahoma,Verdana,Segoe,sans-serif;}
.departmentMenu>li {padding:4px 0;border-bottom:1px solid #D5D5D5;font-family:Tahoma,Verdana,Segoe,sans-serif;}
.departmentMenu>.header>.link {margin:0 -8px;padding:0px 0px 0px 8px;font-weight:600;}
.departmentButton.selected {background:#4b4c51;background-image:none;-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fbbb0b',endColorStr='#ee9505')";border-bottom:solid 3px #ce1029;height:31px;color:white;}
.departmentMenu.active {margin-top:0px;}
.departmentButton.selected .arrow_button_icon:before {content:url("https://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/userMenu/dropdownUp.png") !important;position:absolute;top:-2px;left:0;}
.menuEspeciales ul {max-width:200px;padding:0;}
.menuEspeciales ul li {padding:0 15px;}
.menuEspeciales span {color:#fffc22;font-weight:400;font-style:italic;}
.arrow_button_icon {top:8px;right:9px;height:16px;}
.arrow_button_icon:before {content:url("https://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/userMenu/dropdown.png") !important;top:-2px;left:0;}
#quickLinksButton.selected .arrow_button_icon:before,#widget_minishopcart.selected .arrow_button_icon:before,#departmentsButton.selected .arrow_button_icon:before,#allDepartmentsButton.selected .arrow_button_icon:before {top:-1px;left:-1px;}
#quickLinksButton .arrow_button_icon:before,#widget_minishopcart .arrow_button_icon:before,#departmentsButton .arrow_button_icon:before,#allDepartmentsButton .arrow_button_icon:before {top:-3px;left:0px;}
#quickLinksButton.selected .arrow_button_icon:before,#widget_minishopcart.selected .arrow_button_icon:before,#departmentsButton.selected .arrow_button_icon:before,#allDepartmentsButton.selected .arrow_button_icon:before {left:0px;top:-3px;}
@media (max-width:600px) {.arrow_button_icon {	position:absolute;width:23px;height:7px;height:15px !important;margin-top:-3px;right:15px;}
	.arrow_button_icon:before {	content:url("https://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/header/plusMinus.png") !important;position:absolute;left:-1px;margin-top:1px;}
	.subcategoryList>li {	display:inline-block;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:46%;padding-right:16px;vertical-align:top;margin-right:4%;}
	/*hover*/
	#quickLinksButton.selected .arrow_button_icon:before,#widget_minishopcart.selected .arrow_button_icon:before,#departmentsButton.selected .arrow_button_icon:before,#allDepartmentsButton.selected .arrow_button_icon:before {	left:0px !important;top:-18px !important;}
}
/*MAIN NAV SUBMENUS*/
.subcategoryList>li>a {display:block;margin:0 -8px;padding:2px 8px;}
.departmentMenu {border:1px solid #c9cece;border-top:1px solid #c9cece;border-radius:0;left:0;}
.departmentMenu>.header {margin:0;padding:8px 0;border-bottom:1px solid #DDDDDD;}
@media (max-width:600px) {
	ul.categoryList a[id^="categoryLink_"] {	color:#ca1500;font-weight:400;text-transform:uppercase;font-size:12px;}
	.departmentMenu>.header>.toggle {	margin:-1px 0;}
	.subcategoryList>li>a {	padding:6px 8px;}
}
/*PRE FOOTER*/
.wrapperpreFooter {background:#E0E0E0;border-top:solid 7px #ADADAD;}
.preFooter {font-family:Tahoma,Verdana,Segoe,sans-serif;min-height:98px;background:#E0E0E0;letter-spacing:-1px;}
.prefooterColumn {text-align:center;}
.prefooterHeader {line-height:24px;color:#3d3d3d;font-size:18px;margin:10px 0 3px 0 !important;}
.preFooter strong {font-weight:600;}
.socialIcons img {display:inline-block;max-height:33px;margin:0 5px;}
.preFooter .socialIcons {text-align:center;}
.socialIcons .tarjetaAbcdin {max-height:40px;}
.socialIcons .catalogoAbcdin {max-height:60px;}
.ventaTelefonica {font-size:24px;color:#fe0505;font-weight:600;}
.ventatelefonicaSmall {font-size:11px;color:#4d4d4d;letter-spacing:0;}
.newsImg {display:inline-block;max-height:19px;float:right;margin:2px 10px 0 0;}
.newsInput {width:100%;display:block;color:#555454;height:19px;font-size:12px;}
.newsEnviar {background:#949494;max-height:25px;padding:5px 15px;border:none;color:white;font-size:12px;float:left;margin:0 0 0 15px;}
/*MAIN FOOTER*/
#footer {background-image:none;background:none;}
.wrappermainFooter {background:#545454;background-image:url("https://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/footer/background.jpg");padding-bottom:14px;}
.mainFooter {font-family:Tahoma,Verdana,Segoe,sans-serif;color:white;font-size:12px;}
.mainFooter ul {padding:15px;}
.mainFooter ul li {float:left;width:100%;display:block;list-style:none;}
.mainFooter ul li a {float:left;width:100%;display:block;list-style:none;line-height:20px;color:#f5f5f5;}
.mainFooter ul li a:hover {text-decoration:underline;}
.mainfooterHeader {font-size:16px;color:#cacaca;margin-bottom:15px;}
.bottomBar {background:#939393;color:#353535;padding:7px 0;text-align:center;font-size:12px;font-family:Tahoma,Verdana,Segoe,sans-serif;}
/* AUXILIAR CLASSES TO RWD* RWD-A - 0-600px* RWD-B - 601-1280px* RWD-C - 1281px+*/
/* Grid system - RWD-A */
@media (max-width:600px) {
	.hidden-a {	display:none !important;}
	.show-a {	display:block !important;}
}
/* Grid system - RWD-B */ /*MISSING ON BASE.CSS*/
@media (min-width:601px) and (max-width:1280px) {.bcol1 {	width:8.333333%;}
	.bcol2 {	width:16.666666%;}
	.bcol3 {	width:25%;}
	.bcol4 {	width:33.333333%;}
	.bcol5 {	width:41.666666%;}
	.bcol6 {	width:50%;}
	.bcol7 {	width:58.333333%;}
	.bcol8 {	width:66.666666%;}
	.bcol9 {	width:75%;}
	.bcol10 {width:83.333333%;}
	.bcol11 {width:91.666666%;}
	.bcol12 {width:100%;}
	.hidden-b {display:none !important;}
	.show-a {	display:none !important;}
	.show-b {	display:none !important;}
}
.hiddenDiv {display:none !important;}
@media (min-width:1281px) {
	.wpayMobile {	display:none;}
	.hidden-c {	display:none !important;}
	.show-a {	display:none !important;}
	.show-b {	display:none !important;}
}
/*FOR IE*/
.departmentButton,#headerRow2,#headerRow2.mainNav,.departmentButton:hover,.departmentButton.selected,.basicbutton>span,#widget_minishopcart:hover {-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled = false)";filter:none;background-image:none !important;background-image:-webkit-gradient(linear,left top,left bottom,from(none),to(none)) !important;background-image:linear-gradient(transparent,transparent) !important;background-color:none !important;}
/*---------------------------------------*/
/*CATEGORY-->SIDEBARS,PRODUCTS,VITRINA*/
/*---------------------------------------*/
/*SIDEBAR*/
#content .collapsible,.categoryNavWidget.collapsible,.linkWidget.collapsible {background-color:white !important;}
#content .collapsible:hover,.categoryNavWidget.collapsible:hover,.linkWidget.collapsible:hover {background-color:#FFFFFF;}
.categoryNavWidget.collapsible .singleFacet,.facetSelect ul li {background-color:white;padding:6px 0px !important;width:80%;margin-left:30px;border:0px;}
.optionContainer>.title {height:40px;color:#545454;font-size:14px;font-weight:bold;line-height:40px;margin:10px 1px 0 1px;padding:0 5%;border-radius:inherit;background:#FFF;background:inherit;background:inherit;-ms-filter:inherit;cursor:pointer;border-bottom:0px solid #e3e1e1;border-top:0px solid #e3e1e1;}
.facetSelect {background:white;}
ul.facetSelect li {padding:8px 0px;width:80%;margin-left:37px;border:0px;}
.facetSelect li:last-child {border:0;}
.facetSelect li a {text-transform:capitalize;margin:0px;padding:0px;}
ul span.outline {text-transform:capitalize;}
ul.facetSelect div {text-transform:capitalize;}
span[id^="facetLabel_"] {}
/*WOHOO*/
input#low_price_input,input#high_price_input {width:39%;}
/*PROMOS*/
a.promoCat {background:rgb(240,240,240);display:block;padding:8px 10px;border:dashed 2px #ccc;text-align:center;min-height:67px;margin-bottom:20px;}
a.promoCat:hover {background-color:rgb(223,223,223) !important;}
.promoCat .titulopromoCat {color:#ca1500;font-weight:bold;}
.promoCat .contentpromoCat {font-size:13px;}
.promoCat bold {color:#ca1500;font-weight:bold;text-transform:uppercase;}
.categoryImage img {width:100%;}
/*SORTING CONTROLS*/
.productListingWidget .title {margin-top:6px;}
span.page_size_label,span.order_by_label {margin-top:9px;}
.controlBar .pageControl.number>a.selected {background-color:#ca1500 !important;border-color:rgba(116,12,0,0) !important;}
.controlBar .pageControl.number>a {height:31px;width:31px;line-height:32px;font-size:13px;}
.grid_icon,.list_icon {width:8px;height:9px;}
a.list_icon:before {left:-75px;}
.grid_icon:before,.list_icon:before {top:-14px;}
a.grid_icon:before {left:-34px;clip:rect(21px,58px,38px,41px);}
div.grid_icon:before,a.grid_icon:hover:before {left:-54px;}
div.list_icon:before,a.list_icon:hover:before {left:-95px;clip:rect(21px,118px,38px,101px);}
#orderBy_dropdown>#orderBy_menu>table tr td,.orderBySelectMenu>table tr td,#orderByContent_dropdown>#orderByContent_menu>table tr td,#pageSize_dropdown>#pageSize_menu>table tr td,.pageSizeSelectMenu>table tr td,div[id^="attrValue_"]>div[id^="attrValue_"]>table tr td,div[id^="attrName_"]>div[id^="attrName_"]>table tr td {height:18px;padding:9px 0;font-size:12px;}
/*SORTING BUTTONS*/
.sorting_controls .selectWrapper .dijitSelect {padding:3px 4px;}
.selectWrapper .dijitSelect .dijitArrowButtonContainer:before,.shopperActions .dropdown_primary>.drop div:before {width:13px;height:6px;margin:11px 5px;}
.selectWrapper {height:32px;}
.selectWrapper .dijitSelect {font-size:13px;}
/*COMPARE*/
.product_info {float:left;margin-left:auto;margin-right:auto;}
#precio_abcdin,.precio_abcdin_inner {color:#ca1500;font-weight:bold;}
#precio_internet,.precio_internet_inner {color:#000;font-weight:bold;}
.widget_product_compare>.middle>.left_border>.right_border>.content>.compare_main .row>.heading {font-weight:400;}
/*GRID VIEW*/
/*---------------------------------------*/
/* MY ACCOUNT-->SIDEBARS */
/*---------------------------------------*/
div#container_MyAccountDisplayB2B {max-width:1100px;margin:0 auto;}
div#container_MyAccountDisplayB2B form#Register {padding-top:15px;}
div#container_MyAccountDisplayB2B select#selectRegion {width:90%;margin-bottom:10px;}
#myAccountNavigationWidget .collapsible,.categoryNavWidget.collapsible,#myAccountNavigationWidget .linkWidget.collapsible {background-color:#f9f9f9 !important;}
#myAccountNavigationWidget .facetSelect {background-color:#f9f9f9;}
#myAccountNavigationWidget .facetSelectContainer {background:#f9f9f9;margin:0;padding:0 0 0px 0;border-radius:0;}
.myaccount_header.bottom_line {background-color:white;border-bottom:1px solid #E5E5E5;}
.form_2column .column select {padding-left:5px;}
div[id^="WC_RegistrationUpdateCommonPage_"] {padding-top:11px;padding-left:7px;}
.my_account .myaccount_link {color:#ca1500;text-decoration:underline;}
.myaccount_header {border-color:#F8AD05 #FFFFFF #E5E5E5;border-style:none;border-width:0px 1px 0;padding:8px;font-weight:400;color:#8E8E8E;font-size:20px;background:none;}
/*BORDER BOXES*/
div[id^="WC_"],#box .my_account .body {border:none !important;}
div[id^="WC_AjaxAddressBookForm"] {background:none;}
div#WC_AjaxAddressBookForm_div_6 {background:none;}
div#WC_ActivationResendForm_div_3,div#WC_PasswordResetForm_div_3 {border:solid 1px #ccc !important;margin-top:23px;}
div#WC_PasswordResetForm_div_3 {height:180px;border:solid 1px #ccc !important;padding:25px;width:inherit;max-width:510px;margin-left:auto;margin-right:auto;float:none;height:180px;}
/*FORMS*/
div[id^="WC_AddressEntryForm_"] {margin-bottom:3px;}
div#WC_UserRegistrationAddForm_div_10 {margin-top:10px;}
/*CAJAS DE TEXTO*/
.form_2column .column {width:265px;}
div[id^="WC_AccountForm_div_"] div#container_MyAccountDisplayB2B select#selectRegion {width:90%;margin-bottom:10px;max-width:240px;}
.form_2column .column select {padding-left:5px;border:solid 1px #ccc;height:35px;}
.input2Field1 {padding:8px;border-radius:5px;border:1px solid #bfbfbf;font-size:12px;width:56%;box-sizing:border-box !important;-moz-box-sizing:border-box !important;;-webkit-box-sizing:border-box !important;text-align:left;}
.input2Field2 {padding:8px;border-radius:5px;border:1px solid #bfbfbf;font-size:12px;width:100%;box-sizing:border-box !important;-moz-box-sizing:border-box !important;;-webkit-box-sizing:border-box !important;text-align:center;}
input#WC_UserRegistrationUpdateForm_NameEntryForm_FormInput_userField1_1,input#WC_UserRegistrationAddForm_NameEntryForm_FormInput_userField1_1 {width:100%;}
div#errorMiddle {margin-top:7px;}
@media (max-width:600px) {
	.form_2column .column {min-width:100%;}
	.inputField {width:100% !important;}
	.form_2column .column select {max-width:100%;}
}
/*---------------------------------------*/
/* BUTTONS */
/*---------------------------------------*/
.button_primary {display:inline-block;position:relative;background-image:-webkit-gradient(linear,left top,left bottom,from(#ca1500),to(#A01303)) !important;background-image:linear-gradient(#ca1500,#A01303) !important;-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fbbb0b',endColorStr='#ffb123')" !important;border:1px solid #bfbfbf;border-radius:4px;border-spacing:0;vertical-align:middle;}
.button.primary {display:inline-block;position:relative;background-image:-webkit-gradient(linear,left top,left bottom,from(#ca1500),to(#ca1500)) !important;background-image:linear-gradient(#ca1500,#ca1500) !important;-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ca1500',endColorStr='#ca1500')" !important;border:0px solid #ca1500;border-radius:4px;border-spacing:0;vertical-align:middle;color:white !important;}
.button_primary:hover,.button.secondary:hover,.button.primary:hover {background-image:-webkit-gradient(linear,left top,left bottom,from(#ca1500),to(#961000));background-image:linear-gradient(#ca1500,#961000);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ca1500',endColorStr='#961000')" !important;border-radius:5px !important;}
.button_primary>.button_text {display:table-cell;height:25px;margin:0;color:white;padding:1px 26px;border:1px solid #CA1500;border-radius:3px;font-size:12px;line-height:normal;text-align:center;vertical-align:middle;color:white;background:rgba(202,20,0,1);font-family:Tahoma,Verdana,Segoe,sans-serif;background:-moz-linear-gradient(top,rgba(202,20,0,1) 0%,rgba(176,15,0,1) 100%) !important;background:-webkit-gradient(left top,left bottom,color-stop(0%,rgba(202,20,0,1)),color-stop(100%,rgba(176,15,0,1))) !important;background:-webkit-linear-gradient(top,rgba(202,20,0,1) 0%,rgba(176,15,0,1) 100%) !important;background:-o-linear-gradient(top,rgba(202,20,0,1) 0%,rgba(176,15,0,1) 100%) !important;background:-ms-linear-gradient(top,rgba(202,20,0,1) 0%,rgba(176,15,0,1) 100%) !important;background:linear-gradient(to bottom,rgba(202,20,0,1) 0%,rgba(176,15,0,1) 100%) !important;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca1400',endColorstr='#b00f00',GradientType=0 ) !important;border:none;}
.button_primary_details {display:inline-block;position:relative;background-image:-webkit-gradient(linear,left top,left bottom,from(#991202),to(#ca1500));background-image:linear-gradient(#ca1500,#991202);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr='#999999',endColorStr='#ccc')";border:0px solid #ca1500;border-radius:5px;border-spacing:0;vertical-align:middle;}
.button_primary_details>.button_text {display:table-cell;height:24px;margin:0;padding:3px 22px;border:0px solid #ccc;border-radius:3px;font-size:11px;line-height:normal;text-align:center;vertical-align:middle;width:126px;color:white;}
/*add to cart*/
div#productPageAdd2Cart {background:rgb(231,231,231);border-radius:3px;border:solid 1px #ccc;color:#595959;}
.shopperActions .button.primary,.shopperActions .button.secondary {width:38%;max-width:270px;}
.button_primary_details:hover {background-image:-webkit-gradient(linear,left top,left bottom,from(#ca1500),to(#ca1500));background-image:linear-gradient(#ca1500,#ca1500);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr='#666',endColorStr='#ccc')";}
.col4.nm.abcdincardPrice {width:100%;height:21px;background:none;}
.normalPrice {width:100%;margin-bottom:0px !important;}
/*LOADING POPUP*/
#loading_popup {position:fixed;}
#loading_popup img {width:36px;height:36px;}
#loading_popup .top_left,#loading_popup .top_right,#loading_popup .footer {display:none;}
#loading_popup .bodycontent {background-image:none;}
.error_simulador_cuotas {float:left;padding-top:10px;font-family:Tahoma,Geneva,sans-serif;font-size:12px;color:red;margin-top:2px;margin-bottom:2px;width:100%;}
.topBar ul li {display:block;float:left;padding:5px;list-style:none;font-size:10px;background-color:none;}
.color_swatch_list {margin-top:-12px;margin-left:4px;margin-right:0px !important;}
@media (max-width:600px) {
	.checkoutbreadcrumbsName {	font-size:8px;padding-left:0px;}
	.compare_target>label {	cursor:pointer;font-size:10px;}
	.compare_target {	display:block;float:none;padding:0 !important;margin-left:auto;margin-right:auto;text-align:center;width:93% !important;font-size:10px;font-weight:400;margin-top:2px;}
	.product_info .internetPrice {	min-height:26px !important;margin-top:16px;}
	.checkoutbreadcrumbsIcon {	display:inline-block;height:40px;width:40px;position:relative;top:-30px;margin-bottom:-54px;}
	.checkoutbreadcrumbsIcon img {	max-width:100%;}
	.checkoutbreadcrumbsItem.hasArrow {	background-image:url(https://www.abcdin.cl/wcsstore/ABCDIN/images/checkout/breadcrumbsArrow.png);background-repeat:no-repeat;background-size:12px;background-position:center right;}
}
/* Caso 12 */
@media (max-width:600px) {
	img#contentImage_1_HeaderStoreLogo_Content {	padding-left:10px;}
	.mainFooter ul {	width:100% !important;}
	.loginLink {	display:block;margin:0px 0px 2px 0px !important;}
	#header {	width:100%;position:fixed;top:0;}
	.mainHeader {	height:110px !important;}
	.dijitTextBox {	border:solid #BFBFBF 1px;width:59px !important;vertical-align:middle;position:relative;left:-2px;}
	div#WC_OrderItemDetails_td_3_1 {	position:relative !important;left:-18px !important;float:right !important;}
	.checkouttotalsItem.internetPrice.nm.midPrice.rwWidth {	border-left:0;border-right:0;border-top:1px solid #E8E8E8;padding-top:3px;border-bottom:1px solid #E8E8E8;padding-bottom:7px;}
	.shippingArrow {	display:none;}
	.topbulletsContainer a.topBullet1_3 {	display:none;}
	.topBullet1_3 {	display:none;}
	.topbulletsContainer>a.topBullet1_3:first-child {	display:block !important;}
	div#contentRecommendationWidget_HeaderStoreTopExternalLink_Content {	display:none;}
	.productPromo {	border:solid 1px #ccc;padding:6px;width:96% !important;}
	.col5.detailPrices.detailPricesTop.nm {	width:100px;float:right;margin-right:35px;}
	.checkoutBreadcrumbs {	background:#dedede;max-height:34px;margin-top:15px !important;}
	#contentRecommendationWidget_HeaderStoreTopImage_Content {	display:none;}
	.loginBox {	max-width:100% !important;}
	.checkouttotalsItem.abcdinPrice.nm:before {	display:none;}
	.checkouttotalsItem.normalPrice.nm {	font-size:11px !important;}
	.checkouttotalsItem.internetPrice.nm.midPriceCart {	border-top:1px solid #DEDEDE;padding-top:5px;border-bottom:1px solid #DEDEDE;padding-bottom:6px;font-size:11px !important;}
	.col12.checkoutproductDetail.nm.hasPromo {	border-bottom:1px solid #D6D3D3;}
	.detailPrices.nm.fullDetail {position:relative !important;}
	.checkouttotalsItem.totalPrice.nm {	text-align:left;position:absolute;top:-6px;left:27px;border-bottom:1px solid #D6CECE;width:90%;padding-bottom:6px;}
	.checkoutTotals .normalPrice,.checkoutTotals .internetPrice,.abcdinPrice .nm {width:90px !important;}
}
@media (max-width:480px) {
	.catalogEntryRecommendationWidget {	padding-left:0 !important;padding-right:0 !important;}
	.tab .content {	margin:15px !important;}
	.tab .content li {margin-bottom:5px;font-size:13px;line-height:18px;}
	.tab .content ul {padding-left:0;}
	.tab .content iframe {width:96%;}
	.subcategoryList>li {display:none;}
	img.zoomImg {display:none !important;}
	.departmentMenu>.header>.toggle {display:none !important;}
	.col5.detailPrices.detailPricesTop.nm {width:100px;float:right;margin-right:20px !important;}
}
#content .collapsible>h3:before,.categoryNavWidget.collapsible>h3:before,.linkWidget.collapsible>h3:before {content:url("../images/responsive/sprite_category.png") !important;position:absolute;top:-2px !important;left:13px !important;clip:rect(18px,31px,34px,-2px) !important;}
#content .collapsible[aria-expanded="false"]>h3:before,.categoryNavWidget.collapsible[aria-expanded="false"]>h3:before,.linkWidget.collapsible[aria-expanded="false"]>h3:before {top:16px !important;left:13px !important;clip:rect(0px,17px,16px,-1px) !important;}
.abcdincardPrice .price {font-size:11px;color:#ca1500;font-weight:bold;min-height:14px;}
.col4.nm.abcdincardPrice .price {padding-top:11px !important;}
.col4.nm.abcdincardPrice {height:27px !important;}
@media (min-width:600px) and (max-width:999px) {
	.topbulletsContainer a.topBullet1_3 {	display:block;width:50% !important;}
	.topbulletsContainer>a.topBullet1_3:last-child {	display:none !important;}
}
.abcdincardPrice .black {font-weight:400;color:#ca1500 !important;}
.color_swatch_list ul li a img {border:1px solid transparent;}
.color_swatch_list ul li a img.color_swatch_selected {border:1px solid #fff !important;}
div[id^="PageHeading_"] h1 {font-size:25px;padding-top:14px;max-width:775px !important;}
.stickytop {position:fixed !important;width:100%;top:0px;height:90px !important;}
.stickytop div#contentRecommendationWidget_HeaderStoreTopImage_Content,.stickytop .topBar {display:none;opacity:0 !important;}
.mainNav {top:24px;}
.wopa {top:0px;}
.previewcartTitle {padding:5% 5% 1% 5% !important;}
.grid_mode .product_price {padding:5px 0px 0px 15px;min-height:24px;margin-top:0px;padding:0px !important;}
.product_name {min-height:9px !important;margin-top:5px !important;height:44px !important;padding:0px !important;}
.row.margin-true {margin:0 auto;}
.loginMenuDropdown {border-radius:0px !important;}
@media (max-width:600px) {
	#searchBox {	width:60% !important;margin-left:20% !important;}
	.row {	position:relative;}
	.logo {	height:79px;}
	.mainnavInner {	height:0px !important;border:0px !important;}
	#departmentsButton.basicButton {	color:white;font-family:'Open Sans',sans-serif;border:0;font-size:12px;max-width:inherit;margin:0;width:9% !important;overflow:hidden;top:-53px;z-index:10000;text-indent:-99999px;/* background-color:#666;*/ background:url('https://www.abcdin.cl/wcsstore/ABCDIN/css/ext/iconomenu.png') 8px 8px no-repeat !important;left:16px;height:40px;position:relative;width:11% !important;}
	form#searchBox #searchFilterButton {	display:none !important;}
	#searchTermWrapper {	padding:6px 0px 6px 10px;width:100%;border-right:0px solid #bfbfbf !important;}
	div#MiniShoppingCart {position:absolute !important;right:-8px !important;top:26px !important;z-index:10000 !important;}
	.mainHeader {	height:90px !important;}
	#searchTermWrapper>input {	text-align:left !important;}
}
/* add by jose@zenbyte.cl */
/* show usabilla button */
.usabilla_live_button_container iframe {display:inline-block !important;}
.usabilla_live_button_container {margin-top:0px !important;}
/* estilo videos descripcion */
/* START insert video */
.embed-container {position:relative;padding-bottom:56%;height:0;overflow:hidden;max-width:100%;}
.embed-container iframe,.embed-container object,.embed-container embed {position:absolute;top:0;left:0;width:100%;height:100%;}
/* END insert video */
/* fix slider - new site CBS */
#contentCarouselWidget_3_-2003_14453>.content>ul>li {width:100%;}
#suscribeMail {margin:15px 0 0 0;float:left;}
input#txtEmail {width:130px;height:20px;padding:2px 0 2px 5px;font-family:helvetica,arial,sans-serif;font-weight:lighter;font-size:11px;line-height:24px;vertical-align:middle;float:left;}
button#btnEnviar {background-color:#626262;border:0 none;color:#CCC;cursor:pointer;float:left;font-size:9px;height:26px;line-height:26px;width:70px;vertical-align:middle;text-align:center;font-family:helvetica,arial,sans-serif;text-transform:uppercase;padding:0;text-align:center;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
.caja_suscribir {width:450px;height:75px;padding:0 0 0 20px;margin:12px 0 0;overflow:hidden;float:right;}
.validaLetra,.validaNumero,.validaCaracteres {width:100px;background-color:gray;display:block;}
#validacionBullet {display:none;}
.msjErrorBullet {display:none;color:red;font-weight:bold;}
.zb-content-validations p img {max-width:10px;}
.zb-check,.zb-error {display:none;}
/* minisitio sansung */
#widget_left_nav_5_-2004_18954 #productsFacets fieldset {display:none;}
#widget_left_nav_5_-2004_18954 #productsFacets #PRECIO {display:inherit;}
.categoryNavWidget.collapsible .singleFacet,.facetSelect ul li {padding:6px 0px !important;}
ul.facetSelect li {padding:6px 0px;}
.facetSelect li {border-bottom:0px solid #e3e1e1;}
.facetSelect li a {margin:0px 0%;padding:0px 0%;}
@media (max-width:1200px) {
	ul.facetSelect li {padding:6px 0!important;}
}
.bottom-test-ab {margin-bottom:15px !important}
.height-poroduct-test-ab {height:auto !important;}
.product>.product_image img {max-height:170px !important;}
/*Agregado por jreyes@zenbyte para descripcion de producto*/
.zb-cont-desc {max-width:800px;margin:0px auto;}
.zb-prod-sku {color:#000000;}
.zb-prod-sku span {color:#666666;}
.zb-text-prin-ficha {text-align:center;margin:20px 0px 40px;}
.zb-text-prin-ficha h3 {font-size:25px;min-height:30px;padding:0px 0px 10px;font-weight:400;line-height:40px;}
.zb-text-prin-ficha p {font-size:16px;min-height:20px;padding:10px 0px;line-height:20px;margin:0px auto;color:#666;}
.zb-header-caract {cursor:pointer;background-position:right center;background-repeat:no-repeat;}
.zb-header-caract.active {background-image:url(images/ficha-desc/icono-cerrar.png);}
.zb-header-caract.desactive {background-image:url(images/ficha-desc/icono-abrir.png);}
.zb-header-caract h3 {border-bottom:1px solid;padding:7px 7px 7px 35px;color:#cd2027;background-position:left center;background-repeat:no-repeat;background-size:auto 100%;}
.zb-header-caract h3.zb-icon-gen {background-image:url(images/ficha-desc/icono-carac-general.png);}
.zb-header-caract h3.zb-icon-con {background-image:url(images/ficha-desc/icono-carac-conect.png);}
.zb-header-caract h3.zb-icon-dim {background-image:url(images/ficha-desc/icono-carac-dimension.png);}
.zb-header-caract h3.zb-icon-gar {background-image:url(images/ficha-desc/icono-carac-garantia.png);}
.zb-header-caract h3.zb-icon-mem {background-image:url(images/ficha-desc/icono-carac-memoria.png);}
.zb-header-caract h3.zb-icon-puer {background-image:url(images/ficha-desc/icono-carac-puertos.png);}
.zb-header-caract h3.zb-icon-mat {background-image:url(images/ficha-desc/icono-carac-material.png);}
.zb-header-caract h3.zb-icon-stv {background-image:url(images/ficha-desc/icono-carac-smart-tv.png);}
.zb-header-caract h3.zb-icon-inf {background-image:url(images/ficha-desc/icono-carac-info.png);}
.zb-header-caract h3.zb-icon-otr {background-image:url(images/ficha-desc/icono-carac-comentarios.png);}
.zb-caract-inner {background-color:rgba(224,224,224,0.19);padding:5px 10px;margin:0px 5px 0px 5px;}
.zb-caract-inner span:first-child {font-weight:bold;}
.zb-caract-inner.white {background-color:#fff;}
.zb-caract-inner span {display:block;float:left;min-width:135px;}
.zb-header-caract {margin-bottom:10px;}
.zb-caract {margin-bottom:50px;}
.zb-text-ficha img {margin:10px auto;display:block;max-width:100%;}
.zb-text-ficha h3,.zb-text-ficha p {padding:15px;}
.zb-text-ficha h3,.zb-text-ficha h2 {margin-top:30px;font-size:20px;font-weight:300;color:#666;}
.zb-text-ficha h2 {margin-bottom:20px;}
.clear {clear:both;width:100%;height:1px;}
.zb-links-rel a {padding:10px 25px;border:1px solid;margin:0px 10px;border-radius:5px;color:#999;display:inline-block;-webkit-transition-duration:1s;-moz-transition-duration:1s;-o-transition-duration:1s;transition-duration:1s;}
.zb-links-rel a:hover {background:#333;color:#fff;}
@media (max-width:480px) {
	.zb-header-caract h3 {margin-right:0px;}
}
/*Cambio para landing de categoria agregado por jreyes@zenbyte.cl*/
.zb-container-bx-slider {opacity:0;filter:alpha(opacity=0);/* For IE8 and earlier */}