/*REMOVE ON FINAL VERSION*/
.detailContainer, .shipmentContainer{/* max-width: 400px !important; */ /* margin-left: 400px !important; */  clear: both;}


/*SLIM FIT*/
.rowPromociones{max-width: 1150px;margin-left: auto;margin-right: auto;float: none !important;}

/*********/
/*BULLETS*/
/*********/

.bulletsContainer{/* background:#afafaf; */ /* max-height: 32px; */ /* overflow:hidden; */}
.bulletsHome{max-width: 1400px; margin: 0 auto; text-align: center;}
.bulletLink{height:15px; display:inline-block; color:white !important; text-decoration:none; padding: 8px 15px; font-size: 12px;} 
.bulletLink:hover{text-decoration: underline;}  

.topBullet1, .topBullet2 {padding: 6px 0px; background-color: #f5f5f5; color: #ca1500; font-size: 14px; text-align: center; margin-top: -5px; display: block; }
.topBullet1:hover, .topBullet2:hover{background-color: #E4E4E4; color: rgb(50, 50, 50); }


@media (max-width: 600px){ 
.topBullet2 {font-size: 12px; padding: 6px; border-bottom: solid 1px #ccc; display: none;}
.topBullet1 {font-size: 12px; border-top: solid 1px #ccc; margin-bottom: 3px; padding: 3px 0; border-bottom: solid 1px #ccc;margin-top: -10px;}
.topBullet1_3{width: 100% !important; padding: 3px 0; font-size: 11px}

 }

/*********/
/*BULLETS CATEGORĂ?AS*/
/*********/
.topbulletsContainer{width: 100%;float: left;margin-bottom: 16px;}
.topBullet1_3 {padding: 10px 0; background-color: #f5f5f5; color: #ca1500; font-size: 15px; text-align: center;  display: block; width: 33%; float: left; }
.topBullet1_3:hover {background-color: #E4E4E4; color: rgb(50, 50, 50); }


/************************************************/
/*******************DETAIL***********************/
/************************************************/

/*DETAIL PRICES*/
.detailContainer{font-size:12px;  }
.detailPrices{text-align:right; color:#515151;margin-bottom: 10px; float: left;}
.detailprecioBig{ font-size: 17px; text-align: right; margin-top: 7px;}
.black{color:black !important;}
.abcdincardPrice .black{font-weight: 400}
.detailprecioNormal{font-size: 12px;text-align: right;}
.detailContainer .abcdincardPrice {width: 33% !important; float: left; background-color: transparent; /* padding-right: 3%; */}
.list_mode.grid.productosLista .detailContainer .abcdincardPrice {width: 20% !important;float: left; background-color: transparent; /* padding-right: 3%; */}
.internetPrice .detailprecioNormal {font-weight: bold; font-size: 11px; }
.abcdincardPrice{color:#ca1500 !important; font-weight: 600;background: #F2F2F2;width: 100%;height: inherit !important;}
.abcdincardPrice.col4{width: 100%}
.detailPrices .internetPrice:before, .detailPrices .abcdincardPrice:before {content: ""; width: 1px; background-color: rgb(131, 131, 131); float: left; height: 47px; }

div[id^="customKitFullWidthSlot"] .internetPrice, div[id^="customKitFullWidthSlot"] .abcdincardPrice,Â , div[id^="customKitFullWidthSlot"] .detailPrice {width: 31.5%;}
div[id^="customKitFullWidthSlot"] .internetPrice:before, div[id^="customKitFullWidthSlot"] .abcdincardPrice:before {/* background: rgb(161, 161, 161); */ /* float: left; */ /* content: ""; */ /* width: 1px; */}
div[id^="PageHeading_"], .contenedorProducto{max-width: 1150px; margin: 0 auto;}
div[id^="PageHeading_"] h1 {font-size: 25px;padding-top: 0px;margin-bottom: 7px;}
div[id^="swatch_selection_entitledItem_"].heading {display: none !important;} 
.definingAttributes .options_dropdown_column .heading{font-weight: 400;}

.contenedorProducto .attBorder{border: 0}

/*re arrange color and qty elements*/
/*.shopperActions {float: left;}
div[id^="swatch_selection_list_entitledItem_"] {margin-left: 46px; margin-top: -30px; }
.definingAttributes {margin-left: 153px; }
*/

/*.detailPrices .normalPrice {width: 30%;float: left;}*/
.contenedorProducto .columna02 .normalPrice {width: 29%; padding-right: 2%; }
.color_swatch_list{margin-top: -12px; margin-left: 4px; margin-right: 50%;}
.definingAttributes div[id^="swatch_selection_"] {display: inline-block; float: left; margin-bottom: 3px;}
.definingAttributes div[id^="swatch_selection_"] li:first-child {margin-left: -11px; }
.color_swatch_list .color_swatch, div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list .color_swatch {border-radius: 5px; box-shadow: 0 0 0 1px #C2C2C2; vertical-align: middle; }
.color_swatch_list .color_swatch_selected, .color_swatch_list .color_swatch:hover, div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list .color_swatch_selected, div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list .color_swatch:hover {  border-radius: 5px; box-shadow: 0 0 0 1px #000000; vertical-align: middle; } 
img[id^="swatch_"]{width: 20px}
.definingAttributes li {margin-right: 0px !important; }
.definingAttributes > div.color_swatch_label:first-child {font-size: 13px; float: left;min-width: 100px;}
/*.cuotas_de, .id_cae, .costo_credito {display: inline; margin-top: 15px; float: left; }*/
.cuotas_de, .id_cae, .costo_credito { }

/*PAYMENT SIMULATOR*/
div#simulador_cuotas_cuota,  div#simulador_cuotas_pagos { margin-left: 0px !important;}
#mensaje_cuota {float: left;width: 100%;margin-left: 86px;font-size: 12px;margin-top: 6px;}
.paymentTitle{/*color:#ca1500 ; border-top: solid 1px #848484; */ font-size: 13px;margin-bottom: 10px; padding-top: 8px}
form#simuladorDeDespacho .checkout-select {width: 220px; }
.paymentSimulator{float:left;font-size: 12px;/* margin-bottom: 21px*/; /*padding-bottom: 15px*/}
.paymentSimulator .abcdinCard{max-height: 45px; display: block;width: 95%;}	
.disclaimer{color:#848484; font-size: 10px; float: left;}
.simulatePayment {display: block;float: right; font-size: 11px; text-decoration: underline; }
#simulatePaymentHide{top: 7px !important; display: none;z-index: 8;margin-right: 0px;}

/*COLOR PICKER*/
.chooseTitle{width:73px; float: left;min-height: 25px}
.chooseTitle.qtyTitle{width:98px}
.colorPicker{}
.colorPick{margin-right:5px;display: block; width: 18px; height:18px; float: left; border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border: 1px solid #ccc;}
.colorChoose{margin-bottom: 21px !important;}
.colorPick:hover{border: solid 1px #666;-webkit-box-shadow: 0px 0px 4px 0px rgba(158,158,158,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(158,158,158,1);
box-shadow: 0px 0px 4px 0px rgba(158,158,158,1);} 
.colorPick.color-c90000{background: #c90000}
.colorPick.color-fff{background: #fff}
.colorPick.color-1b637b{background: rgba(160, 16, 0, 1) !important}

/*TABS*/

.col12.acol12.ccol6.right.tabbedSlots9_10_11 {max-width: 1150px; margin-left: auto !important; margin-right: auto !important; float: none !important; width: 100%;}
.tab.left .content {padding-top : 15px; font-size: 12px; display: block; width: 97%; margin-left: 3%; line-height: 14px;padding-bottom: 25px;}
.tab_header {margin-right: 0px; border-spacing:  0; margin-left: 0px;}
.tab {border: 1px solid #e9e9e9; border-radius: 0px !important; margin-top: 0px !important; width: 99%; }
.tab_header h2 {font-size: 11px; text-transform: uppercase;}
.tab_header .tab_container {width: 279px;user-select: none !important;}
.tab_container.active_tab{/* color:#ca1500; */}
div#tab1 {/* color: #ca1500; */ }
.tab_container {/* color:#ca1500; */}
.tab_container{border-top: 2px solid #ca1500; }
.conBorders{border: 1px solid #ccc; padding-bottom: 16px;}

/*COMBO*/
.widget_bundle_package_list .list_mode {border: 0px solid #e9e9e9; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; margin-top: 0px !important}
#slider8 img {display: block; margin-left: auto; margin-right: auto; float: none; border: solid 1px #ccc !important;max-width: 191px;}
#slider8 .product_description{display: none;}
.comboDetalle .bx-next {margin-top: 396px !important; bottom: 4px;position: absolute !important;}
.comboDetalle .checkoutPromotions{display:none}
#slider8 .normalPrice{width: 100%}
.comboDetalle .bx-wrapper .bx-controls-direction a {top: 0; }


.product_listing_container .bx-wrapper .bx-controls-direction a:hover {background-position: 0 -32px !important; }
div[id^="MiniListViewProdImg_"]{width: 100% !important}
div[id^="MiniListViewDetailsLink_"]{  font-size: 13px; padding: 0 !important; }
.comboDetalle .product_listing_container {border: solid 1px #E7E7E7; /* max-width: 352px; */float: none;margin-left: 5%;margin-right: 5%;}
.comboDetalle  .product {  min-height: 378px;}
.widget_product_listing .container_full_width_package {/* width:100%; *//* background-color: white; */ /* text-align: center; */ /* color: #474747; */ /* background-color: transparent; *//* text-transform: uppercase; *//* font-size: 12px; *//* margin-bottom: 27px; */} /*title*/
#slider8 .product_info .internetPrice {font-weight: bold;}
.comboDetalle .bx-wrapper .bx-prev {margin-top: -26px; }
.widget_bundle_package_list .product_listing_container .list_mode .product > .product_info > .product_name > a {font-size: 13.5px; line-height: 20px;}
.comboDetalle .container_full_width_package {width: 100%; padding: 0; text-align: center; background-color: transparent; margin: 15px 0px 3px 0; color: #3D3D3D; /* font-size: 11px; */margin-bottom: 31px;}
.comboDetalle .abcdincardPrice {height: 17px !important; }

@media (max-width: 950px){
.columna03{display: none;}

}
@media (min-width: 601px) and (max-width: 950px){
.columna01{width: 50% !important;}
.columna02{width: 50% !important;}
.contenedorProducto{max-width: 95%}
div[id^="PageHeading_"] { max-width: 95%; }
}

 /*QTY*/
.emptyDiv{min-height: 20px}
.detailContainer .checkout-qty-select {margin: -5px 0px 10px -5px;}
.quantity_section .header {font-size: 13px; }
.quantity_input {background-color: #F9F9F9; border: solid 1px #ccc; min-width: 43px;}
.quantity_section {padding-top: 0px; padding-bottom: 8px; /*margin-top: -8px*/;float: left;width: 100%;/*margin-bottom: 26px*/;/* margin-left: 50%; */}
.facebookLikeWidget {padding: 13px 0px 20px; }

.detailContainer .checkout-qty-select select, .documentSelect select{outline:none;}
.detailContainer .paymentButton{text-align: center;float: left; margin-bottom: 7px; margin-top: 7px; width: 40%;clear: left;}
div#productPageShoppingCart {text-shadow: 0px 2px 0px #880E00 !important;border-radius: 4px;}
div#productPageShoppingCart:hover {background: #A60000; }
div#productPageAdd2Cart:hover {background: rgb(190, 190, 190); }

.detailContainer .addtoCart{    background: #A0A0A0 !important;    text-shadow: 0px 1px 1px #5F5F5F;    /* border: solid 1px #838383; */}
.detailContainer .addtoCart:hover{background-color: #8E8E8E !important;}
#hiddenContent{/* padding-top:15px; */ opacity: 0; display: none;background: white;}
.terms {float: left;padding: 25px 0 0 10px;font-size: 11px;}
.caeDetail{ font-size: 11px; margin-left: -27px !important;padding-top: 10px; padding-left: 22px;}
.color_swatch_list > ul, div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list > ul {padding: 0; margin-left: 42px; margin-top: -19px; }

/*COMBO*/
.comboDetalle .bx-wrapper {height: 403px !important; }

/*ADDITIONAL IMAGES*/
.other_views_text{display: none;}
.widget_product_image_viewer > .content > .other_views {border-bottom: 0}
.widget_product_image_viewer > .content > .other_views > ul {padding-left: 15px;}
.widget_product_image_viewer > .content > .other_views > ul > li {border: 0}
.widget_product_image_viewer > .content > .other_views > ul > li > a > img {height: 80px;width: 80px;}
.widget_product_image_viewer > .content > .other_views > ul > li.selected {border: 0px solid #FAC549; opacity: .7;}


/*SUGGESTED PRODUCTS*/
.carousel.background-true {background-image: none !important; }
.promocionElegir {background-color: #666666; padding: 5px 15px; color: white; font-weight: 400;font-size: 13px;}
div#msj_es_gratis_15253 {color: rgb(47, 171, 47); float: left; width: 100%; }
.ADD_promocion {text-align: center; float: left; width: 100%;}
.ADD_promocion > input{background-color: #CA1500; color: white;max-width:150px;height:35px;cursor:pointer; }
.promocionesTitulo {width: 100%; font-size: 22px; margin-left: -11px; margin-top: 10px; float: left;}
.promocionElegir {background-color: #F7F7F7; border: solid 1px #ccc; padding: 5px 21px 5px 21px;color: #666;}
/*.promocionElegir:hover{border: solid 1px #BAD964;color: #000;}*/
.promocionElegida {background-color: #F7F7F7; border: solid 1px #BAD964; padding: 6px 28px 6px 8px; font-size: 12px;background-image:url("../../images/imagesnew/content/chosen.png") ;background-repeat: no-repeat;background-position: 95% center;color: #666;}
.rowPromociones div[id^="catalogEntryRecommendationWidget"]{float: left;width: 100%;}

.columna01 .bx-wrapper {width: 70%; }

/************************************************/
/*******************SHIPMENT*********************/
/************************************************/


/*SHIPMENT CONTAINER*/
.shipmentContainer{ float: left; margin: 25px auto;font-size: 12px; line-height: 20px;}
.shipmentContainer select {outline:none !important}
.shipmentContainer p{display: block; float: left; width: 100%}
.shipmentContainer .checkoutTitle{width: 100%}
.shipmentSize, .shipmentContainer .checkoutTitle span{color:#ca1500; font-weight: 700; font-size: 12px}
.shipmentDesc{margin-bottom: 15px}
.shipmentTitle{width: 100%;margin-bottom:0px; font-weight: 400}
.shipmentContainer .checkout-select {margin: 5px 0px 15px 0px !important;}
.shipmentContainer .shippingButton{margin-bottom: 15px;color:white;margin-left: 0;margin-top: 5px; width: 42%; text-align:center;background: rgba(110,197,255,1);
background: -moz-linear-gradient(top, rgba(110,197,255,1) 0%, rgba(0,161,214,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(110,197,255,1)), color-stop(100%, rgba(0,161,214,1)));
background: -webkit-linear-gradient(top, rgba(110,197,255,1) 0%, rgba(0,161,214,1) 100%);
background: -o-linear-gradient(top, rgba(110,197,255,1) 0%, rgba(0,161,214,1) 100%);
background: -ms-linear-gradient(top, rgba(110,197,255,1) 0%, rgba(0,161,214,1) 100%);
background: linear-gradient(to bottom, rgba(110,197,255,1) 0%, rgba(0,161,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ec5ff', endColorstr='#00a1d6', GradientType=0 );font-size: 12px;}


.shipmentContainer .shippingButton:hover{background: rgba(41,169,255,1);
background: -moz-linear-gradient(top, rgba(41,169,255,1) 0%, rgba(0,130,173,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,169,255,1)), color-stop(100%, rgba(0,130,173,1)));
background: -webkit-linear-gradient(top, rgba(41,169,255,1) 0%, rgba(0,130,173,1) 100%);
background: -o-linear-gradient(top, rgba(41,169,255,1) 0%, rgba(0,130,173,1) 100%);
background: -ms-linear-gradient(top, rgba(41,169,255,1) 0%, rgba(0,130,173,1) 100%);
background: linear-gradient(to bottom, rgba(41,169,255,1) 0%, rgba(0,130,173,1) 100%);

}

/*BREAKPOINTS*/

@media (max-width:1000px) {
.paymentSimulator .abcdinCard {max-height: 34px;}
}


@media (min-width:951px) {
.paymentSimulator .abcdinCard {width: 95%}
}

@media (max-width:800px) {
.paymentSimulator .abcdinCard {display: none;}
.widget_bundle_package_list .product_listing_container > .package_mode .product .product_info{width: 90%}
.widget_bundle_package_list .product_listing_container .list_mode .product > .product_info > .product_name > a {font-size: 13px;}

}

@media (max-width:600px) {
.paymentSimulator .abcdinCard {display: block;max-height: 45px;}
.row.contenedorProducto {width: 94%;}
div[id^="PageHeading_"] h1 {font-size: 20px;padding-left: 14px;}
.comboDetalle .container_full_width_package {  font-size: 11px;}
.tab.left .content { width: 93%; margin-left: 7%; }
.promocionesTitulo{ text-align:center; margin-left: 0}
}

@media (min-width: 600px) and (max-width: 812px){
	.simulatePayment {display: block; float: right; position: relative; top: 7px;}
}


@media (min-width: 600px) and (max-width: 680px){
.internetPrice .detailprecioNormal {font-size: 10px;}
.contenedorProducto .internetPrice {width: 30% !important; padding-right: 2%;}
 }

@media (min-width:601px ) and (max-width: 1050px){
.detailprecioBig {font-size: 15px !important; }
.detailContainer .abcdincardPrice {width: 33% }
}
/* ADD by jose@zenbyte */

.zb-payment-top-line{border-top: solid 1px #C3C1C1;}
.zb-payment-padding{ padding: 8px 0px; }
.zb-payment-bottom-line{border-bottom: solid 1px #C3C1C1;}
.zb-payment .button.primary{ width: 100%; max-width: 100%; min-width: 0%; overflow: hidden; margin-top: 12px;}
.zb-payment-top-one {margin-top: 15px;}

@media screen and (max-width: 600px){
	.shopperActions { padding-left: 0px;}
}
/* Extended Warranty */

.zb-payment-ge-container{border-radius: 5px; border: 1px #cccccc solid; overflow: hidden; background-color: #FDFDFD;}
.zb-payment-ge-icon {width: 100%;bottom: 0px; position: relative; padding: 5px 0px;}
.zb-payment-ge-container-phrase {}
.zb-payment-ge-container-phrase p {padding: 5px 7px; font-size: 12px;}
.zb-payment-ge-bg-green {background-color: #5ccc9e;-webkit-transition: background-color 100ms linear;-moz-transition: background-color 100ms linear;-o-transition: background-color 100ms linear;-ms-transition: background-color 100ms linear;transition: background-color 100ms linear;}
.zb-payment-ge-bg-gray {background-color: #ECECEC !important;-webkit-transition: background-color 100ms linear;-moz-transition: background-color 100ms linear;-o-transition: background-color 100ms linear;-ms-transition: background-color 100ms linear;transition: background-color 100ms linear;}
.zb-payment-ge-bg-light-gray {background-color: #FDFDFD;-webkit-transition: background-color 100ms linear;-moz-transition: background-color 100ms linear;-o-transition: background-color 100ms linear;-ms-transition: background-color 100ms linear;transition: background-color 100ms linear;}
.zb-payment-container-select-ge {}
.zb-payment-container-select-ge .zb-payment-select-ge {float: right; -webkit-transition: background-color 100ms linear;-moz-transition: background-color 100ms linear;-o-transition: background-color 100ms linear;-ms-transition: background-color 100ms linear;transition: background-color 100ms linear; padding-top: 5px;}
.zb-payment-container-select-ge .zb-payment-select-ge img {width: 100%; padding: 10px 0px;}
.zb-payment-container-select-ge .zb-payment-select-ge p {text-align: right; color: gray}
.zb-payment-container-select-ge p {padding: 5px 7px; font-size: 10px; color: #444444}
.zb-payment-container-select-ge p span { font-weight: 600; color: black; }
#zb-payment-ge-container-2 {/*position: absolute;*/ z-index: 9; top:100%;/*-webkit-box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.17);-moz-box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.17);box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.17);*/display: none;}
#zb-payment-ge-container-2 img { width: 100%;}
.zb-payment-ge-detail-header {margin-bottom: 15px !important;}
.zb-payment-ge-detail-header p{ font-size: 12px; padding: 10px 0px 0px 0px; color: #808080}
.zb-payment-ge-detail-header p span { text-transform: uppercase; color: black; }
.zb-payment-ge-detail-header  a p{ color: black;}
.zb-payment-ge-detail-header  a p:hover{ text-decoration: underline;}
.zb-payment-ge-button {margin: 10px; border-radius: 5px; color: white; padding: 5px;text-align: center; font-size: 14px; cursor: pointer;} 
.zb-payment-ge-description p {padding: 15px 0px 10px 30px; font-size: 12px; color: #808080}
.zb-payment-ge-description p span, .zb-cart-center-texts span { color: black; font-weight: 700;}
.zb-payment-ge-content-info { min-height: 40px;}
.zb-paymen-tge-content-close { width: 60% !important;float: right; margin: 10px 5px 0px 0px; cursor: pointer;}

/* hovers */
#zb-payment-container-ge-select .zb-payment-ge-bg-green {background-color: #E7E7E7; color: #424242}
#zb-payment-container-ge-select:hover .zb-payment-ge-bg-green, .zb-green-backgrund-ge { background-color: #293558 !important; color: white !important; }
.zb-payment-select-ge:hover { cursor: pointer;}
#zb-payment-ge-container-2 .zb-payment-ge-bg-gray:hover {background-color: #CACACA !important ;/*cursor:pointer*/}
#zb-payment-ge-container-2 .zb-payment-ge-bg-light-gray:hover {background-color: #D8D7D7; /*cursor:pointer*/} 
#zb-payment-ge-container-2 .zb-payment-ge-bg-gray:hover .zb-payment-ge-description p, #zb-payment-ge-container-2 .zb-payment-ge-bg-light-gray:hover .zb-payment-ge-description p { color: #000000 }
#zb-payment-ge-container-2 .zb-payment-ge-content-info .zb-payment-ge-bg-green:hover { background-color: #3BAD7E; }
.zb-payment-container-select-ge .zb-payment-select-ge:hover p { text-decoration: underline; }
#zb-payment-ge-extra-warranties { display: none; }
.zb-plus{display: block;}
.zb-menos{display: none;}
@media screen and (max-width: 600px){
	#zb-payment-ge-container-2 {position: fixed;z-index: 10;top: 0;left: 0;border-radius: 0px;background-color: rgba(0, 0, 0, 0.64); height: 100%; }
	.zb-payment-monile-container { background-color: #f7f7f7;margin-left: 8% !important;margin-top: 20px !important;border-radius: 5px; max-height: 90%;overflow: scroll;position: relative;}
    .zb-payment-ge-phrase {height: 0px}
    /* boton agregar mobile */
    .zb-payment-container-select-ge .zb-payment-select-ge img { padding: 10px 0px}
    .zb-payment-container-select-ge .zb-payment-select-ge { background-color: #5ccc9e; padding-top: 0px;}
    .zb-payment-container-select-ge .zb-payment-select-ge p { color: white; text-align: center;}
    .zb-payment-container-select-ge p { font-size: 12px; }
    div#productPageShoppingCart { padding: 5px 0px }
    div#productPageAdd2Cart { padding: 5px 0px }
    .zb-payment-bottom-line-mobile { border-bottom: 1px solid #C3C1C1; padding-bottom: 10px;  }
    .zb-payment-padding-ge-mobile { padding: 0px 0px 20px 0px; }
    .zb-payment-container-select-ge .zb-payment-select-ge { margin-bottom: -100%; padding-bottom: 100%; }
}

/* show and hide */

.zb-show-hide { display: block; }
.zb-hide-show { display: none; }

@media screen and (max-width: 600px){
	.zb-show-hide { display:none; }
	.zb-hide-show { display: block; }
}

.quantity_section input, .quantity_section label { float: right; }
.quantity_section label {margin-right: 10px;}



/* product recomendation */
.zb-pr-content-product {padding:0px;border-radius:5px;border:1px solid #E8E8E8;background-color:white;overflow:hidden;float:none !important;display:inline-block;vertical-align: top;max-width: 165px;}
.zb-pr-product-name { display:table; text-align:center; width:100%; margin-top:5px; padding:0; min-height:50px; }
.zb-pr-msj, .zb-pr-content-product .checkoutproductMsj { height: 27px; font-size: 11px; overflow: hidden;}
.zb-pr-content-product .precioRererencial { margin-bottom:0px !important; }
.zb-pr-content-product .product_price { margin-top:0px; float:left; width:100% }
.zb-pr-content-product .product_info { float:left; }
.zb-pr-content-product .normalPrice { min-height:0px !important; }
.zb-pr-featured-product {float:left;width:100%;text-align:center;margin-bottom: 49px;z-index: 0;}
.zb-pr-featured-product .carousel.padding-true {padding: 0; float: none; width: auto}
.zb-pr-featured-product .content{margin: 0 80px !important}
.zb-pr-full-wrap { position:fixed; top:0; left:0; bottom:0; right:0; background:rgba(0, 0, 0, 0.53); z-index:200000; }
.zb-pr-content { background-color: #F5F5F5;margin: 5% auto;width: 60%;float: left;margin-left: 20%;border-radius: 3px;height: 100%;/*overflow-y: scroll*/;max-height: 505px;}
.zb-pr-title {text-align:center; float:none;}
.zb-pr-title h4 { display:inline-block;padding:10px;margin:10px 0px 0px 0px;border:1px solid #DEDCDC;background-color:white;border-radius:3px;font-weight:100;}
.zb-pr-title h3 { font-weight:600; text-transform:uppercase; padding:15px; }
.zb-pr-add-cart { margin:15px 0px 10px 0px; padding:10px 0px; width:80%; border-radius: 5px; }
.zb-pr-content-product .price { height:auto; }
.zb-pr-content-product .product_info { width:90% !important; margin-left:5% !important; }
.zb-pr-content-product .product_image .image { position:relative; width:90%; margin:5%; max-width:100px; max-height:100px;}
.zb-pr-content-product .product_image { display: table; }
.zb-pr-content-product .product_image img { width:100%; height:100%; max-width:100px; max-height:100px; }
.zb-pr-add-products { padding:8px 15px;display:inline-block; background:#C51300; border-radius:5px; color:white;margin:0px; }
.zb-pr-add-bkg-off { background:rgba(124,124,124,1) !important }
.zb-pr-add-products-content {  text-align: center; width: auto;float: left;width: 100%;margin-bottom: 40px;}
.zb-pr-content-product.col2{width: auto;}
.zb-pr-content-product .checkoutproductBadge{height: 47px;max-height: 47px;max-width: 170px;width: 100%;}
/* fix cbs */
.zb-pr-content > :nth-child(1) { bottom: 0px;position: absolute;width: 100% !important;z-index: 200;}
.zb-mesage-add-to-cart-id h4 { display: none; }

@media screen and (max-width:600px){
	.zb-pr-content { width:90%;  margin:15px 5%;}
	.zb-pr-title h4 { max-width:90%; margin:10px;}
	.zb-pr-content-product { /*min-width:120px;*/}
	.zb-pr-content-product .product_info .internetPrice { min-height:0px !important; margin-top:0px;}
	.zb-pr-content-product .checkoutproductBadge{height: 40px;}
}
/* aparecer y desaparecer productos */
.zb-p1 { display:inline-block; }	
.zb-p2 { display:inline-block; }	
.zb-p3 { display:inline-block; }	
.zb-p4 { display:inline-block; }	
.zb-p5 { display:inline-block; }	
.zb-p6 { display:inline-block; }	
@media screen and (max-width:1024px){
.zb-p1 { width:20%; }	
.zb-p2 { width:20%; }	
.zb-p3 { width:20%; }	
.zb-p4 { width:20%;}	
.zb-p5 { display:none;}	
}
@media screen and (max-width:992px){
}
@media screen and (max-width:768px){
.zb-p1 { width:30%; }	
.zb-p2 { width:30%; }	
.zb-p3 { width:30%; }	
.zb-p4 { display:none; }	
}
@media screen and (max-width:568px){
.zb-p1 { width:40%; }	
.zb-p2 { width:40%; }
.zb-p3 { display:none; }		
}
@media screen and (max-width:320px){
	.zb-pr-content-product .checkoutproductBadge{height: 30px;}
	.zb-pr-add-products {margin-bottom: 40px;}
}
 /* agregado  por jreyes@zenbyte.cl para Productos relacionados*/
.zb-mesage-add-to-cart{display: inline-block;padding: 10px;margin: 10px 0px 0px 0px;border: 1px solid #DEDCDC;background-color: white;border-radius: 3px;font-weight: 100;}
.zb-arrow-right, .zb-arrow-left{position:absolute;width:30px;top:218px;cursor:pointer;}
.zb-arrow-right img, .zb-arrow-left img{width:100%;}
.zb-arrow-right{right:10px;padding-top: 20px}
.zb-arrow-left{left:10px;}
 

/* Regula tamaño de nombre*/
.zb-pr-content-product .product_info > .product_name > a { text-align: center; font-family: Tahoma, Verdana, Segoe, sans-serif;font-size: 12px; padding: 6px 0px;color: #676767; vertical-align: middle; display: block; width: 100%; min-height: 50px; max-height: 50px; padding: 0px; overflow: hidden;}
.zb-pr-content-product .showonMobile { display: none; }
.zb-pr-content div:nth-child(2){right: 5px !important;}
.zb-pr-content div:nth-child(2) a{ width: 100%;height: 100%;float: left;padding-top: 20px;}
.zb-arrow-right, .zb-arrow-left {top: 194px !important;}

 /* agregado  por jreyes@zenbyte.cl Garantia extendida */
.zb-payment-ge-show-more{display:none;}
.zb-icon-ge-mobile{height:35px;float:left;padding:3px 8px;display:none;}
@media screen and (max-width:600px){
	.zb-icon-ge-mobile{display:block;}
	.zb-payment-monile-container{overflow:hidden;}
	.zb-pr-content-product .checkoutproductMsj{display:none}
}