/*PRICES ON GRID*/
.product_name{ text-align: center; width: 100%;}
.list_mode.grid.productosLista .product .product_info .product_name{ text-align: center; width: 100%;}
.price, .internetPrice, .normalPrice{display: block;text-align: center;margin-bottom: 3px;font-size: 13px;}
.price{ font-size: 12px; color: #ca1500; font-weight: bold; min-height: 17px;}
.internetPrice{color: #000000;font-size: 11px;font-family: Tahoma, Verdana, Segoe, sans-serif;float: left;width: 90% !important;text-align: right;}
.contenedorProducto .internetPrice { 
    width: 29% !important;
    padding-right: 3%;
    float: left;
}
.normalPrice {color: #515151;  font-weight: 400;  font-size: 11px !important; float: left;min-height: 18px;width: 100%;}
.precioRererencial {color: #515151;  font-weight: 400;  font-size: 11px !important; float: left; width:90%;margin-bottom: 11px;}
/*.product_name{border-bottom: dashed 1px #ccc;height: 70px;display: table;}*/
.product_name{height: 70px;display: table;}
.promocionesFicha > .product > .product_info > .product_name{border-bottom: none; }
.product_price {text-align: center;margin-top: -8px;}
.product_info .internetPrice {text-align: center;width: 100% !important;}
.compare_target{display: block;  float: none; margin-left: auto; margin-right: auto;  text-align: center;width: 84%; font-size: 10px;font-weight: 400;margin-top: 2px; }
.promocionesFicha > .product > .compare_target{display: inline-block;}
.compare_main img {float: none; display: block; margin-left: auto;margin-right: auto; max-height: 171px}
.widget_product_compare a:hover {text-decoration: none !important; }
.compare_main .item {text-align: center; }
div [id^="compareButton_"]{position: relative;right: -7px;}
div [id^="comparePageRemoveItemMain_"]{width: 100%; float: left; text-align: center; margin-right: auto;}


/*CAROUSEL*/
.product > .product_image img { /* max-height: 171px; */ }
.list_mode.grid .product > .product_image img{height: inherit;}

@media (max-width: 320px){
	.product > .product_image img {max-height: 105px !important; }
}

/*LIST VIEW*/
.showonMobile{display: none;}
.productosLista .product_info > .product_name > a{font-size: 15px;text-align: left;line-height: 23px;}
.productosLista .detailPrices {width: 50%;  margin-right: 50%; min-width: 356px;}
.productosLista .internetPrice {width: 115px !important; text-align: right; padding-right: 8px;}
.productosLista .normalPrice {width: 106px; padding-right: 9px;}
.productosLista .abcdincardPrice {} 
.productosLista .detailPrices .internetPrice:before, .list_mode  .detailPrices .abcdincardPrice:before {height: 57px}
.productosLista .button_primary.gradient {float: left; margin-right: 51%; }
.productosLista .quantity_section {width: 160px; margin-right: 50%; margin-top: 14px; text-align: left;}
.productosLista .header.color_swatch_label {float: left; }
.color_swatch_list ul li, div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list ul li {margin: 0 -5px 10px 0; }
div.product_listing_container .list_mode .product .product_info > .product_color_swatches {overflow: visible; }

/*BUTTONS*/ 
.product_price .button_primary,  .product_price .button_text{font-weight: 400;margin-bottom: 6px !important;}

.button_primary.viewDetails, .button_primary.viewDetails .button_text{color:#666; background: rgba(240,240,240,1)!important; background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(214,214,214,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(214,214,214,1)))!important; background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(214,214,214,1) 100%)!important; background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(214,214,214,1) 100%)!important; background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(214,214,214,1) 100%)!important; background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(214,214,214,1) 100%)!important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d6d6d6', GradientType=0 )!important; border: solid px #D5D5D5 !important; }
.button_primary.viewDetails, .button_primary.viewDetails .button_text:hover{background: rgba(212,212,212,1)!important; background: -moz-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(196,196,196,1) 100%)!important; background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,212,212,1)), color-stop(100%, rgba(196,196,196,1)))!important; background: -webkit-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(196,196,196,1) 100%)!important; background: -o-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(196,196,196,1) 100%)!important; background: -ms-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(196,196,196,1) 100%)!important; background: linear-gradient(to bottom, rgba(212,212,212,1) 0%, rgba(196,196,196,1) 100%)!important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#c4c4c4', GradientType=0 )!important; }

.product_price .button_text{color: white;  font-size: 12px !important; font-family: Tahoma, Verdana, Segoe, sans-serif;        border: none; }

.product_price .button_primary.viewDetails {margin-bottom:6px}

.product_price .button_text:hover{background: rgba(152,11,30,1) !important; background: -moz-linear-gradient(top, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(152,11,30,1)) !important, color-stop(100%, rgba(142,11,28,1))) !important; background: -webkit-linear-gradient(top, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%); background: -o-linear-gradient(top, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%) !important; background: -ms-linear-gradient(top, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%); background: linear-gradient(to bottom, rgba(152,11,30,1) 0%, rgba(142,11,28,1) 100%) !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#980b1e', endColorstr='#8e0b1c', GradientType=0 ); }

.product > .product_image img{/* max-width: 250px; */ /* max-height: 170px !important; */}



/*NOT BUYABLE*/

.button_noBuyable .button_text { margin-bottom: 6px !important}

.o_float.button_noBuyable {  margin: 0 auto 7px auto !important; display: inline-table; width: 86%; padding: 1px 0px; background-color: #777777; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;  /* margin-top: -6px !important; */ border: solid 1px #ccc;margin-bottom: 6px;max-width: 139px; 
    top: 0px;
    position: relative;}
.productosLista .o_float.button_noBuyable{float: left;display: inline-block;}
.o_float.button_noBuyable:hover{
background: rgb(76, 76, 76);
background: -moz-linear-gradient(top, rgba(205,0,14,1) 0%, rgba(178,0,9,1) 0%);
margin-top: -1px;}

.button_noBuyable .button_text {padding: 1px;margin-top: 4px;border-radius: 5px 5px 5px 5px;     -moz-border-radius: 5px 5px 5px 5px;     -webkit-border-radius: 5px 5px 5px 5px;}
.button_noBuyable .button_text:hover {background: none !important;}



@media (max-width:600px){
.internetPrice{font-size: 10px}
.product_price .button_text{font-size: 11px !important;}
.showonMobile{display: block;}
.product_price .abcdincardPrice {min-height: 27px; }
.product_info .internetPrice {min-height: 24px}
.product_info .normalPrice {min-height: 36px}
}

@media (min-width: 600px) and (max-width: 774px){
.price{height: 17px;}

}



@media (max-width: 888px) and (min-width: 750px){
.price{font-size: 11.3px;}
.internetPrice{font-size: 10px}	
}

@media (max-width: 600px) {
.price{min-height: 24px;font-size: 11px;}
.carousel.padding-true > .content {margin: 0 18px !important;}
div [id^="compareButton_"] {width: 41px; padding: 2px 4px; font-size: 8px; left: -4px; }
div [id^="div#compare_"] {font-size: 8pxs}
}