.departmentButton, #headerRow2, #headerRow2.mainNav, .departmentButton:hover, .departmentButton.selected, #widget_minishopcart, .basicbutton > span {
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
filter: none;
background-image: none !important;
background-image: -webkit-gradient(linear, left top, left bottom, from(none), to(none)) !important;
background-image: linear-gradient(transparent, transparent) !important;
background-color:none !important;
}
.hasAlerts.static_page_content > .content_box .header_top:before{background-image: url(../../images/imagesnew/content/alert.png); background-size: cover }

.deleteItem {
  background-image: url(../../images/checkout/deleteItemIE.png) !important;
}

div#WC_ActivationResendForm_div_3{height: 300px }