.red{color: #ca1500 !important;}
.orderConfirmation *{font-family:'Open Sans', sans-serif;}
h1.breadcrumb_current{font-weight: 700; color:#ca1500}
#box .main_header_text {  font-family: Tahoma, Verdana, Segoe, sans-serif;  border-style: none;   border-width: 0px 1px 0;   padding: 8px;   font-weight: 400;   color: #8E8E8E;   font-size: 20px;   background: none;   border-bottom: solid 1px #ccc;}
.myaccount_header {padding-left: 0px !important;}
div#WC_ActivationResendForm_div_7 {padding: 0 !important;}


#billing_summary .billing_address, .billing_summary .billing_address{width: 500px !important; margin-right: 0}
.orderConfirmation .button_right_side_message {margin-top: 6px;font-size: 12px;padding-left: 0;margin-bottom: 15px;}

#checkout_crumb .crumb h1 {font-size: 18px;margin-bottom: 10px;}



.orderConfirmationTitle{float:left;width: 100%;clear: both;font-size: 15px;font-weight: 700;color: #4d4d4d;margin-bottom: 15px;}

/*Summary*/
.orderconfirmationData{width: 45%; float: left; font-weight: 700; color:black;margin-right: 5%;}
.orderconfirmationData:after {  width: 2px;  float: right;  display: block; height: 10px;  content: ":";}
.orderconfirmationResult{width: 50%;float: left;}

.orderConfirmation #SingleShipment_tableCell_productName span {color: #ca1500; font-size: 14px;}


/*override legacy1_1.css*/
#box .main_header .right_corner_straight {display: none !important;}
#box .main_header .left_corner_straight {display: none !important;}
#order_details .strong_content, .strong {color: #444444 !important;}
#checkout_crumb .crumb {padding: 15px 7px 27px 0px !important;}
#box .main_header .right_corner, #box .main_header .left_corner {display: none !important;}
#shipping .shipping_address {margin-bottom: 15px;}
#order_details .th_align_left_normal,#order_details td,#order_details tr.nested th {border-bottom: 1px solid #ccc;}
#order_details .th_align_left_normal{min-width: 103px;}


@media(max-width: 600px){
    div#WC_ActivationResendForm_div_3{height: 300px !important;}
.orderconfirmationData{ width: 100%;}
.orderconfirmationData:after{content:"";}
.orderconfirmationResult{margin-bottom: 10px}
#billing_summary .billing_address, .billing_summary .billing_address{width: 100% !important;}
#billing_summary, .billing_summary, .billing_address, .billing_method, #billing_method {  padding: 0 !important;  font-size: 12px;}
.nested th {  font-size: 12px;  font-weight: 400 !important;}
#checkout_crumb .continue_shopping {float: none;}
h1.breadcrumb_current span {width: 100% !important;float: left;margin-bottom: 11px;font-size: 17px;}
#checkout_crumb .continue_shopping {margin-top: -4px !important;}
#order_details .avail {width: 79px !important;text-align: center;}
}

.orderConfirmation #box {border-top: 1px solid #ccc !important;padding-top: 17px;}

#checkout_crumb .continue_shopping {margin-top: -25px;}

.main_.orderConfirmation {float: 40px !important;}

#order_details .avail {width: 140px;}

.total.short, .avail, .total {text-align: center !important;}




.orderConfirmation p {
    font-size: 12px;
    /* display: block; */
    line-height: 281% !important;
}

p.remember {
    font-size: 13px;
}

p.remember span {
    font-weight: 700;
}

.retryButton {
    /* float: left !important; */
    /* margin-top: -3px !important; */
    /* margin-bottom: 100px; */
}

#checkout_crumb .crumb {
    color: black;
}

.retryButton {
    float: left !important;
    margin-top: 25px !important;
}

.orderConfirmation {
    min-height: 350px !important;
}

.totalCompra {
    background-color: rgb(229, 229, 229) !important;
    /* float: left; */
    padding: 8px 20px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

input {
    text-align: center;
}



div#WC_ActivationResendForm_div_3 {
  border: solid 1px #ccc !important;
  margin-top: 26px; 
}

.sign_in_registration .myaccount_link {color: #666; text-decoration: underline; }
div#WC_PasswordResetForm_div_7 {border: none; }


div#WC_PasswordResetForm_div_3 {
    border: solid 1px #ccc;   
    height: 252px !important;   
    padding: 25px;   
    width: inherit;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}


input.inputLogin {
    margin-top: 9px;   width: 190px;   border-radius: 5px;   border: solid 1px #ccc;   text-align: center;   color: #B3B3B3;   line-height: 15px;   padding: 5px 0;   outline: none;
}



div#WC_PasswordResetForm_div_7 {
}

.sign_in_registration .forgot_password_content {
    width: inherit;
}

div#WC_ActivationResendForm_div_3 {
    border: solid 1px #ccc;   
    height: 214px;   padding: 25px;   width: inherit;   max-width: 510px;   margin-left: auto;   margin-right: auto;   float: none;
    /* max-height: inherit; */
}